[2021-03-25 15:17] sr320 opened #1162 "Submit Geoduck genome annotations to NCBI"
https://www.ncbi.nlm.nih.gov/datasets/genomes/?txid=1049056

[2021-03-25 15:30] kubu4 commented on #1162
Just a heads up, this is similar to #1159, where the genome submission was to ENA, so annotations will likely have to go there and then NCBI might eventually pull them in?

[2021-03-25 15:31] sr320 opened #1163 "Plan / Launch next phase of Hematodinium effort"
Should get something going this quarter.

[2021-03-25 15:34] sr320 commented on #1162
I met with NCBI this week - should not be any issue going straight through NCBI - they are very eager to help out.

[2021-03-25 15:38] mgavery commented on #1161
Sorry, I don't have any other info about the scope

[2021-03-25 15:38] sr320 commented on #1159
per other issue - first try going straight to NCBI - I will drop you some emails in slack if run into any issues.

[2021-03-25 15:40] kubu4 commented on #1162
OK, thanks. I'll address it with them.

[2021-03-25 15:52] kubu4 commented on #1161
Who has identified it as "broken"? Any idea(s) of what's not working (e.g. can't see anything through left ocular, green fluorescence filter not working, laser not turning on, objectives don't rotate, etc)?

[2021-03-25 15:56] sr320 commented on #1161
Carolyn

[2021-03-25 15:57] kubu4 commented on #1161
OK, I'll reach out to her.

We borrowed a broken scope or it broke after we borrowed it?

[2021-03-25 16:03] mgavery commented on #1161
I borrowed the scope to use for larval stuff last March.  The scope itself works, but it's also has capacity to do fluorescence and that part is broken ..and was broken when I borrowed it.

[2021-03-25 16:28] kubu4 commented on #1162
OK, response from ENA is that they can only "update" annotations on assemblies which were originally submitted with annotations. So, if we wanted to "add" annotations, they would cancel our previous submission and I'd just submit the genome and annotation info simultaneously.

So, with that being the case, I'll just create a new submission to NCBI which will include annotations!

[2021-03-25 16:28] kubu4 commented on #1159
OK, response from ENA is that they can only "update" annotations on assemblies which were originally submitted with annotations. So, if we wanted to "add" annotations, they would cancel our previous submission and I'd just submit the genome and annotation info simultaneously.

So, with that being the case, I'll just create a new submission to NCBI which will include annotations!

[2021-03-25 16:43] sr320 commented on #1159
Lets see what NCBI says - seems like they might say just give them the annotations. That way would not have to go through complete resubmission?

[2021-03-25 16:51] kubu4 commented on #1159
Sure, sounds good.

[2021-03-25 18:20] kubu4 commented on #1157
2 x 150bp, 30x coverage = $17,500

And, as per Zymo's suggestions for BS-seq analysis, shorter reads sometimes produce better alignments, so here's an option for that approach (would require running two flow cells).

2 x 100bp, 30x coverage = $35,000 _or_ $30,000 (latter would use two different flow cells types)

[2021-03-25 21:25] sr320 commented on #1162
per email it looks like you can just provide NCBI with annotations

[2021-03-26 02:48] grace-ac opened #1164 "histo reports from oyster 2015 project?"
I don't know if I've asked this before... I probably have because this project has been happening for so long...

 but the .pdfs of the histology reports from the 2015 oyster project are not viewable.

I see that @sr320 added them a while back... are they findable and can they be re-uploaded? Might be interesting.

GitHub repo where the reports are, but aren't able to be viewed: https://github.com

[2021-03-26 03:03] grace-ac commented on #1164
just found some written results from the histology report in this old .pdf version of Rhonda's paper: https://github.com/RobertsLab/project-pacific.oyster-larvae/blob/master/paper-2015/2015%20Oyster%20seed%20Experiment-%20Taylor%20Hatchery.pdf

Samples were taken for proteomics on Day 5 and Day 8, as well as for histology.

23 C group --> no ciliates on **day 5**... 44% infection with ciliates on

[2021-03-26 12:29] hputnam commented on #1157
We can prep at URI for ~$70 per sample and just found a new location where we have a quote for 1 NovaSeq lane at $4500 for an estimate of ~$7300 for library prep an d1 lane. The we could check the coverage and run another at $4500 if we need a second lane. We also have enough barcodes for dual index of the 40 samples, so could pool all.

[2021-03-26 16:55] grace-ac commented on #1164
not using --> doesn't fit in with proteomic results. closing issue

[2021-03-26 16:55] #1164 closed

[2021-03-26 17:56] kubu4 commented on #1161
Update. Retrieved the additional components (primarily the mercury lamp) from the Friedman Lab. Will contact Olympus rep to get things set up and tested (mercury lamp won't power on). No filters laying around, though...

@mgavery - Which emission wavelength(s) are you interested in? Will need to relay info to Olympus rep as well, since filters are M.I.A.

[2021-03-26 21:24] mgavery commented on #1161
<img width="654" alt="Banners_and_Alerts_and_Microsoft_Word_-_DeliveryDiscussionB_doc" src="https://user-images.githubusercontent.com/4512578/112694088-f9808c80-8e3e-11eb-951a-30c7d5682a89.png">

[2021-03-26 21:25] mgavery commented on #1161
Sorry, and also FITC, which the internets tell me is: "excitation and emission spectrum peak wavelengths of approximately 495 nm/519 nm"

[2021-03-29 13:41] kubu4 commented on #1161
Thanks. Email has been sent  to Olympus.

[2021-03-29 19:12] kubu4 commented on #1162
Here's email response from NCBI (I name-dropped Nuala in the original request, but didn't seem to carry any weight/recognition).

What do you think we should do:

1. Have NCBI annotate genomes?

OR

2. New ENA submission with annotations?

[2021-03-29 19:12] kubu4 commented on #1159
Here's email response from NCBI (I name-dropped Nuala in the original request, but didn't seem to carry any weight/recognition).

What do you think we should do:

1. Have NCBI annotate genomes?

OR

2. New ENA submission with annotations?

[2021-03-29 20:27] kubu4 commented on #1161
Rough estimate via email is $5000 - $6000. This is the cost of a new lamp and the filters. What is the budgeted amount for this? Should I continue pursuing this or is this cost out of reach?

[2021-03-29 21:00] sr320 commented on #1161
Can you run by Carolyn and see if she those numbers make sense to her.. and if so we will move forward.

[2021-03-30 17:55] kubu4 commented on #1161
After clarification at lab meeting today, just wanted to add that since the scope will be used at SAFS, there's always the option to use the functional Nikon scope in Carolyn's lab. We'd likely have to spend some money to purchase needed filters, but the cost should be less than the costs associated with purchasing a new light source/filters for the Olympus.

If this is the path we want to take, C

[2021-03-30 18:31] sr320 opened #1167 "Running Blast locally - a bioinformatic exercise"
Take https://owl.fish.washington.edu/halfshell/genomic-databank/hemat_transcriptome_v1.5.fasta

and locally blast against Swiss-prot protein database
https://d.pr/i/PM8KAa

generating a table output with one hit per query.

A blast tutorial... https://github.com/sr320/fun-gen/blob/master/Jupyter/03-Local-Blast.ipynb

from https://github.com/sr320/fun-gen

Useful? Youtube tutorial https://youtu.be/

[2021-03-30 18:41] mattgeorgephd opened #1168 "Mapping gannet folder as a network drive on windows"
I'm having trouble mapping a gannet folder as a network drive on windows. I see that Yaamini has successfully done this with the owl server on mac (https://github.com/RobertsLab/resources/issues/405#issue-366491660).

I've tried mapping the following locations:
https://gannet.fish.washington.edu:5001/
https://gannet.fish.washington.edu/
https://gannet.fish.washington.edu/web/

Anyone had luck with

[2021-03-30 18:42] #1154 closed

[2021-03-30 18:48] kubu4 commented on #1168
This is possibly a server setting (e.g. Windows network protocol [CIFS] not enabled?). I'll try to look into this this afternoon, but it likely won't happen until tomorrow morning.

[2021-03-30 21:18] sr320 opened #1170 "Develop protocol for molecule delivery"
Develop system for getting morpholino into oyster eggs via endoporter (lipid transporter). This will involve tagging morpholino so we can visualize success

[2021-03-31 13:40] kubu4 commented on #1168
Alrighty, I've made the appropriate changes (needed to enabled WebDAV for Windows 10 remote folder mapping). To map the drive, do the following:

1. On Windows 10, go to "This PC".

2. Right-click and select "Add a network location"

3. Click "Next" in the window which pops up ("Welcome to the Add Network Location Wizard")

4. Double-click on the "Choose a custom network location" icon.

5. In the

[2021-03-31 13:57] kubu4 commented on #1161
Carolyn has confirmed that costs associated with new light source/filters are what she would expect.

[2021-03-31 14:14] sr320 commented on #1168
If this works - should something like this go in the handbook?

[2021-03-31 14:15] sr320 commented on #1161
Let's move forward with repairs

[2021-03-31 14:30] kubu4 commented on #1168
Probably. I'll add it.

However, not entirely sure of the utility in mounting a drive remotely. I guess it can be more convenient to drag/drop files to move them, but shouldn't be used to operate on files that sit on Gannet; performance will be drastically slower than operating on files that exist on local computer. This also applies to mounting Gannet even when on the UW network.

[2021-03-31 16:23] kubu4 commented on #1168
@mattgeorgephd - Unrelated, but I see that you've created a folder on Gannet: `cgigas-ploidy`. I suspect this was related to some of the `rsync` issues earlier. When you have the chance, can you please move it to `/volume2/web/panopea`?

This will help maintain our desired organization scheme on Gannet; everybody has a designated directory and they keep all of their stuff in that directory. It hel

[2021-03-31 17:20] mattgeorgephd commented on #1168
Great - I was able to add now. Thanks @kubu4 ! I also transferred everything into /panopea. Sorry about that, I must have missed that you set up a folder for me.

[2021-03-31 20:35] grace-ac opened #1171 "help understanding nanodrop and bioanalyzer results from oyster larvae RNAextractions"
Having trouble determining if these results are ok...  or if there's something wrong with the samples... or maybe with the way I loaded the bioanalyzer chip... Trying to figure out next steps.

The sequencing facility these samples will be sent to said that they are happy to take the samples' Qubit and Nanodrop results, but they didn't seem too worried about Bioanalyzer results. They said I could

[2021-03-31 20:42] kubu4 commented on #1171
NanoDrop is good.

Bioanalyzer looks like chip wasn't prepared properly. Things to check:

1. Was ladder prepared/stored properly (e.g. Was ladder denatured before use? Was it aliquoted into single use volumes?)

2. Were chip reagents allowed to warm to room temperature (min. of 30mins on benchtop) prior to use?

3. Was plunger set at the proper position for the type of chip you were using?

Anywa

[2021-03-31 20:46] kubu4 commented on #1171
Sorry, just saw this. Yes, this ladder was denatured prior to aliquoting, so you can ignore this as a possible concern.

So, it probably boils down to reagent prep and/or plunger position.

Denaturing your sample is good to do, but skipping this step wouldn't cause the results you're seeing.

[2021-03-31 20:46] kubu4 commented on #1171
Yes, you should do this, but it's not critical.

[2021-03-31 20:47] grace-ac commented on #1171
Ok! Thanks so much!

[2021-03-31 20:55] grace-ac commented on #1171
Yep! I just saw that you specified you had the plunger clip at the top position when you ran the tanner crab samples, and the plunger when I used it had the clip at the bottom position. I'll look into that - thanks!

[2021-04-05 21:05] sr320 opened #1172 "Location / Documentation for Jensen Samples"
Do we have any documentation on what Pam dropped off in terms archival samples, specifically the contents of the flash drive?

We are aware of https://github.com/RobertsLab/project-hematodinium/blob/master/notes/PCJ-073020.md

[2021-04-05 21:07] kubu4 commented on #1172
I've never opened the flash drive, which she left on my desk.

[2021-04-05 21:45] sr320 commented on #1172
no rush, but next time you are in can you put on the cloud somewhere?

[2021-04-06 15:44] #987 closed

[2021-04-06 15:44] #1007 closed

[2021-04-06 15:45] #1009 closed

[2021-04-06 15:46] #1017 closed

[2021-04-06 15:46] #1027 closed

[2021-04-06 15:47] #1054 closed

[2021-04-06 15:48] #1062 closed

[2021-04-06 15:48] #1065 closed

[2021-04-06 15:49] #1066 closed

[2021-04-06 15:49] #1068 closed

[2021-04-06 15:49] #1070 closed

[2021-04-06 15:52] sr320 commented on #1124
@yaaminiv are we moving on this?

[2021-04-06 15:54] sr320 commented on #1141
first confirm not already available in paper and/or request from authors

[2021-04-06 15:54] yaaminiv commented on #1124
I'm waiting on a quote from Genewiz. Will follow up today unless you want to move forward with UW quote.

[2021-04-06 15:55] #1147 closed

[2021-04-06 15:55] #1155 closed

[2021-04-06 15:56] #1157 closed

[2021-04-06 15:57] sr320 commented on #1159
Go ahead and move forward with getting our annotations in - does EBI or NCBI - your call

[2021-04-06 16:21] sr320 opened #1175 "Explore crab genomic DNA sequence"
note their is circular DNA

[2021-04-06 17:28] kubu4 commented on #1175
Link to assembly info text file:

https://gannet.fish.washington.edu/Atumefaciens/20200917_cbai_flye_nanopore_genome_assembly/cbai_genome_v1.0_info.txt

Has following columns:

| #seq_name | length | cov. | circ. | repeat | mult. | alt_group | graph_path |
|-----------|--------|------|-------|--------|-------|-----------|------------|

`circ.` contains `Y` or `N` to indicate whether or not a conti

[2021-04-06 20:38] afcoyle commented on #1175
Goals:
- How much (and what) is _Hematodinium_
- ID circular sequences

Steps:
- BLAST genome against nt db or something similar
- BLAST known hematodinium sequences against genome (using Alveolata sequences)
- For circular contigs, could see what matches post-BLAST, or pull those seqs and BLAST separately

[2021-04-06 21:38] grace-ac opened #1177 "where on gannet to put Pam's crab/hematodinium info?"
where on gannet should I put the info from Pam? should I make a new folder?

Here's a sneak peak on what's on the USB drive:

![Screen Shot 2021-04-06 at 2 37 01 PM](https://user-images.githubusercontent.com/14934314/113781551-b697a200-96e5-11eb-9801-8699abc8d244.png)

[2021-04-06 21:41] sr320 commented on #1177
Does not matter - somewhere where you have a url.

[2021-04-06 22:03] grace-ac commented on #1177
i'll post url in #1172

[2021-04-06 22:03] #1177 closed

[2021-04-07 18:11] grace-ac commented on #1172
Is there a way to just upload folders that contain files onto gannet?

So far it seems like I have to create folders and then put the files into the folders. The contents of the USB are lots of folders within folders and lots of files.

[2021-04-07 18:16] grace-ac commented on #1172
Ignore the above! Dragging and dropping folders works.

[2021-04-07 18:26] grace-ac commented on #1172
URL for Pam's USB info: https://gannet.fish.washington.edu/hematodinium/

[2021-04-07 18:41] sr320 commented on #1172
Thanks!
Note  I changed the "Contacts.." word doc to an encrypted PDF and renamed `README` will drop  password in slack

[2021-04-07 18:41] #1172 closed

[2021-04-12 15:58] grace-ac commented on #1171
Reopening - Have nanodrop results for all 56 samples, some ratios for 260/230 are super low, which the [manual](http://tools.thermofisher.com/content/sfs/manuals/nd-1000-v3.8-users-manual-8%205x11.pdf) suggests could indicate "the presence of co-purified contaminants".

Link to my sample spreadsheet: [here](https://docs.google.com/spreadsheets/d/1kawaIvhVcB75wwHPVequIx56XELuvLVKYS8Mb4XL0Zc/edit?us

[2021-04-12 16:04] kubu4 commented on #1171
Usually not a big deal, however the rest of your samples look fine. Knowing that, I'd probably consider an attempt to clean them up. What does the spectral output (i.e. the graphs) look like for those samples? That will give you some info on what the potential contaminants are.

As far as clean up goes, an ethanol precipitation is usually sufficient to clean up most stuff.

[2021-04-12 16:11] grace-ac commented on #1171
Ok! I have the folders of spectral outputs in google drive [here](https://drive.google.com/drive/u/0/folders/1nCndVdquLik-Xto6radr_EtuISTEPNHx) in folders by date of extraction, with each image labeled with the sample number. I'll look through those and the manual to see what I can figure out! Thank yoU!

**Also another question** --> for library prep and sequencing, is it a problem if my samples

[2021-04-12 16:13] kubu4 commented on #1171
Seems to fit the requirements.

[2021-04-12 17:25] grace-ac commented on #1171
This is the ethanol precipitation protocol, right? @kubu4  https://github.com/RobertsLab/resources/blob/master/protocols/ethanol_precipitation_DNA.md

[2021-04-12 17:46] kubu4 commented on #1171
Yes.

[2021-04-12 17:47] grace-ac commented on #1171
THANKS!

[2021-04-12 17:47] #1171 closed

[2021-04-12 20:13] grace-ac commented on #1171
@kubu4  - how much 70% EtOH to wash with? doesn't say in protocol: https://github.com/RobertsLab/resources/blob/master/protocols/ethanol_precipitation_DNA.md

[2021-04-12 20:15] kubu4 commented on #1171
1mL should be fine.

[2021-04-13 00:03] grace-ac commented on #1171
all the qubit results came back as "TOO LOW" ... I'm hoping that maybe the RNA wasn't resuspended properly. Would incubating them at a warm temperature potentially help if that's the issue?

When I initially attempted to resuspended, I pipet to mix and did a little burst of vortex. Maybe I should have used warm water initially to resuspend...

[2021-04-13 15:05] kubu4 commented on #1171
It's worth a shot, but your RNA is most likely gone - lost during one of the wash steps.

Unless you can still see a pellet. Can you still see a pellet?

[2021-04-13 22:29] grace-ac opened #1179 "Can I use 8 reps Zymo Quick DNA/RNA Micropprep Plus Kit?"
I messed up some samples of Jackie's, and she only bought enough of the kit preps for 60 reps. I need 8 more reps-worth of the kit for my last extractions tomorrow.

Is it ok if I use 8reps of the zymo kit in 213? Jackie will reimburse/replace whatever of SRLab's stuff I use! I'm keeping track.

Want to make sure no one is planning on extracting anything soon!

[2021-04-13 22:35] grace-ac commented on #1179
our lab has between 150+reps of the kit btw... so I'm assuming my using 8 isn't going to mess anyone up

[2021-04-13 23:17] sr320 commented on #1179
Sure

[2021-04-14 19:13] #1179 closed

[2021-04-15 16:48] sr320 opened #1181 "Create and provide url to lab notebook"
see https://robertslab.github.io/resources/Lab-Notebooks/
and also examples at
https://d.pr/i/H1PDvo

[2021-04-20 01:40] laurahspencer opened #1184 "Visualizing sibship / parentage data from Colony"
Does anyone have or know of code that one could use to visualize the output from [Colony](https://www.zsl.org/science/software/colony)?  Perhaps a pedigree / dendogram like plot?  I've played with the [`rcolony`](https://rdrr.io/rforge/rcolony/) program a bit, but I don't think it's going to work with the version of Colony that I have (2.0.6.6).  Here's what one of the Colony files looks like, whi

[2021-04-27 11:36] kubu4 commented on #1161
Do we have any interest in purchasing a new setup? The repair rep is trying to upsell me, by throwing out the idea that the current scope is very old and is prone to irreparable failure. A completely new fluorescent scope setup would be $18,000.

Any interest in going this route or just stick with getting current scope setup with the necessary fluorescence components?

[2021-04-27 14:32] sr320 commented on #1161
I suggest sticking with current

[2021-04-27 17:11] yaaminiv opened #1189 "Curate videos/photos/materials for SEAS Open House"
SEAS Open House is May 19-22. They're looking for recorded videos/content that can live on their landing page for the duration of the event, as well as some live/interactive events to engage with K-12 students. Some ideas discussed during lab meeting:

- Look through archived media to retool
- Pt. Whitney hatchery tour or 360 camera
- Rework geoduck FFAR videos

Content should be easily accessible

[2021-04-27 20:40] sr320 commented on #1189
lets compile options here..
https://youtu.be/EGzxtekC-3A
https://www.youtube.com/watch?v=8-BzLq4Kn50
https://youtu.be/z1LI8O7aT2o
https://youtu.be/Kvisz5X-iWU
https://youtu.be/tKy_N1dpNhE

[2021-04-27 20:58] ocattau commented on #1181
Here you go! https://ocattau.github.io/

For the last few weeks, I am going to post my geoduck developmental timing attempts and any progress I have made with BLAST tools and onboarding

[2021-04-27 20:59] #1181 closed

[2021-04-27 21:04] kubu4 commented on #1181
Nice work! Your officially a lab member!

[2021-04-28 16:42] sr320 commented on #1189
I have added some at https://robertslab.github.io/resources/Digital-Media/#videos

I think it makes sense to have a text caption for each one that describes what it is. That would also visually break up the stack of videos

[2021-04-29 11:56] kubu4 commented on #1161
Update: Scope was picked up by Olympus repair rep yesterday.

[2021-04-29 16:02] sr320 opened #1193 "Quote out a BAM"
What would a Big Amazing Machine (desktop) look like?
In other words something close on spec to Mox (at least in terms of memory)
I would be interested in having the conversation on the benefits have have this machine for direct access?

[2021-04-29 16:09] sr320 commented on #1193
I am a bit biased but would see a value in having one of these https://d.pr/i/8Z6XE6 plugged in the lab.

[2021-04-29 16:40] kubu4 commented on #1193
Just tossing this out here real quick before spending more time:

Dell server tower with 2 x 2.2GHz (10 cores each = 20 cores) with 96GB RAM and 2 x 2TB HDDs:

~$4500.00

![image](https://user-images.githubusercontent.com/4514104/116586929-d1b59600-a8ce-11eb-88ef-4685f3d453bb.png)

[2021-04-29 16:43] kubu4 commented on #1193
With 192GB of RAM, the price comes out to be ~$6000.00

[2021-04-29 16:46] sr320 commented on #1193
Thanks! I would not spend more time. Lets maybe chat at Science Hour.. or lab meeting

[2021-05-03 16:12] sr320 commented on #1193
Lets move ahead with this. At lab meeting lets confirm we are not missing any features.

[2021-05-03 16:21] kubu4 commented on #1193
I guess we should probably decide _which_ features we want (as well as max budget) - there're an insane amount of options...

[2021-05-03 16:26] sr320 commented on #1193
We do not have to get crazy with features, but thinks like making sure remote desktop is a simple option. Which might mean Windows? What would be your preferred OS situation?

[2021-05-03 16:43] kubu4 commented on #1193
Personally, I'd like to avoid Windows. I think it would really limit usage of that computer. macOS or Ubuntu would be ideal. And, if our primary concern is using remote desktop software, it seems like macOS would be the way to go. However, I'm not sure how RStudio Server is built and whether or not it will run properly on macOS...

[2021-05-03 16:59] sr320 commented on #1193
I thinking we go with both, a linux and a mac.

[2021-05-04 17:18] #1014 closed

[2021-05-04 17:19] #1124 closed

[2021-05-04 19:51] kubu4 commented on #1141
GFF is here:

https://gannet.fish.washington.edu/Atumefaciens/20210504_cgig_repeatmasker_roslin-GCA_902806645.1/GCA_902806645.1_cgigas_uk_roslin_v1_genomic.fna.out.gff

Here's the [summary table](https://gannet.fish.washington.edu/Atumefaciens/20210504_cgig_repeatmasker_roslin-GCA_902806645.1/GCA_902806645.1_cgigas_uk_roslin_v1_genomic.fna.tbl):

[code]

Notebook will be posted tomorrow.

[2021-05-05 15:32] kubu4 commented on #1141
Doh! I also just found the NCBI RepeatMasker track! I guess I'd stick with that.

https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/902/806/645/GCF_902806645.1_cgigas_uk_roslin_v1/GCF_902806645.1_cgigas_uk_roslin_v1_rm.out.gz

FYI, there are many more genome-related files in the NCBI RefSeq FTP repo (https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/902/806/645/GCF_902806645.1_cgigas_uk_roslin_v1/) compared

[2021-05-05 15:32] #1141 closed

[2021-05-05 16:01] yaaminiv commented on #1141
I used the RefSeq link to make genome feature tracks yesterday, and was going to check out the RepeatMasker output today but you beat me to it! I'll go ahead and use the NCBI link.

[2021-05-07 16:09] grace-ac opened #1203 "how best to concentrate an extracted RNA sample?"
I have a sample of extracted RNA that's currently in 33ul of H20. Wanting to concentrate it per the sequencing facility's request to about 27ul so that the RNA concentration (ng/ul) in the sample will be closer to the other samples.

What's the best way to do that? The only time I've tried concentrating anything was by using the lyophilizer...

[2021-05-07 16:10] kubu4 commented on #1203
Ethanol precipitation is the "standard". SpeedVac is a good option (preferably refrigerated). There are RNA concentration kits available.

[2021-05-07 16:11] grace-ac commented on #1203
ok thanks! I'll look into the kits!

[2021-05-07 16:12] #1203 closed

[2021-05-07 16:13] kubu4 commented on #1203
This seems a bit odd to me. The better option would be to dilute the other samples to match the sample with the lowest concentration.

[2021-05-07 16:15] grace-ac commented on #1203
yeah they told Jackie they want all the samples to be about 50ng/ul... and this one is the only one out of 54 that is below 50ng/ul.

[2021-05-07 16:18] sr320 commented on #1203
I would think messing with this one sample, one is more likely to mess it up / lose it.

[2021-05-07 16:23] kubu4 commented on #1203
Ah, I see. This bit threw me off:

[2021-05-07 16:28] kubu4 commented on #1203
So, they don't require 50ng/uL. I'd dilute all samples to match one with lowest concentration (assuming that concentration falls within their acceptable range). This way, no chance of losing any sample, since you're just adding buffer (or DEPC H<sub>2</sub>O).

[2021-05-07 21:34] grace-ac commented on #1203
@kubu4 is it typically desired/needed for all samples to have roughly the same final volume? I diluted them, but they need to be diluted further, and just adding more H20 would be sooooo nice and easy instead of trying to normalize the final volumes with all of them.

the facility's website just says at least 25ul total volume. Doesn't provide a maximum. But the samples will be sent in a 96-well p

[2021-05-07 21:41] kubu4 commented on #1203
Different volumes shouldn't matter; concentration is usually all that matters, as long as the minimal sample volume is satisfied.

[2021-05-10 11:55] kubu4 commented on #1193
Well, if we bump things up to 384GB RAM, we're looking at ~$12,000.

Also, prices above from the earlier configuration date seems to have increased ~10 -15% since then...

[2021-05-10 12:11] kubu4 commented on #1193
I also just found an option for 512GB of RAM for ~$12,000. It's a "workstation" setup (instead of "server" setup) and uses "persistent memory". Much cheaper than standard RAM.

[2021-05-10 16:33] kubu4 commented on #1193
That configuration mentioned above with 192GB RAM is ~$6000.

[2021-05-10 16:41] kubu4 commented on #1193
Yes. I'll see what I can pull up with the workstation. I guess the persistent memory allows for some solid savings. BRB...

[2021-05-11 15:19] sr320 opened #1207 "Create simple CpG O/E Notebook"
see https://github.com/jldimond/Coral-CpG/tree/master/ipynb

[2021-05-11 17:30] kubu4 commented on #1161
Email from rep:

I can go ahead and get the parts ordered if you would like to get this moving now I have figured it all out

Give the go-ahead?

[2021-05-11 17:48] sr320 commented on #1161
sure

[2021-05-11 18:07] yaaminiv opened #1209 "Download and QC Cv gonad data"
- WGBS: FastQC, maybe Bismark
- RNA-Seq: FastQC

All metadata can be found at [this link](https://github.com/RobertsLab/project-oyster-comparative-omics/tree/master/metadata)

[2021-05-11 22:06] grace-ac opened #1210 "marine biotech needs 5 suggested reviewers for crab paper"
I have 3 (verbruggen, Ronny Van Aerle, and Michael F. Criscitiello) <-- they are all authors on the two papers that we compare our crab transcriptome to (the whiteleg shrimp transcriptome (Criscitiello) and the european crab transcriptome (verbruggen and aerle)).

Any other suggestions? Just need two more!

I'm thinking about this now, but thought I'd post issue if you have any ideas already

[2021-05-12 16:50] #1210 closed

[2021-05-12 18:53] mgavery commented on #1184
Hi, just saw this, not sure if still relevant - maybe check with Jay Dimond?  I've seen some dendrograms he's made recently for abalone data.  Not sure if it was from COLONY output

[2021-05-12 18:54] mgavery commented on #1170
Here are notes that might be helpful.  Please request access.  I am happy to chat about this, just let me know

[https://docs.google.com/document/d/1C46MyJNQIWiASbBUGyBIUEAVJ3yKAibXkovgq-gZRXg/edit]

[2021-05-12 19:00] mgavery opened #1211 "Sources of C. gigas RNA to make RNA probes for in situ hybridization"
I am looking for one or a few good sources of C. gigas RNA (or tissue if preserved for RNA).  The desired source would be early embryos, but female and male gonad tissue would probably also work.  Does anyone have any good quality RNA from these sources to spare?

[2021-05-12 19:05] kubu4 commented on #1211
See what you can find here:

https://docs.google.com/spreadsheets/d/1Qsvz3QTURlPF_hX05BQxjom3484WuMfqQ1ILl9LEljU/edit#gid=2006985773

Shellfish RNA boxes (links to individual box inventories are in the sheet above) would be the place to look first.

[2021-05-12 19:17] sr320 commented on #1184
I would hope @jldimond follows this religiously and is merely taking his time to compose a response 😄

[2021-05-12 19:47] ocattau commented on #1167
[hemat_transciptome_blastx_5.12.21.xlsx](https://github.com/RobertsLab/resources/files/6468733/hemat_transciptome_blastx_5.12.21.xlsx)

[2021-05-12 19:48] #1167 closed

[2021-05-12 19:55] kubu4 commented on #1167
Nice job! Quick note about using Excel. Excel has the propensity to try to interpret and reformat certain strings, and this has been documented with gene accession IDs. So, it's best practice to refrain from transferring (most? any? all?) data to Excel.

[2021-05-12 20:12] ocattau opened #1212 "how do posts in github connect to lab notebook website?"
in my lab notebook(https://ocattau.github.io/), I have a folder called posts and inside the posts I have individual files that are labeled by date 'year_month_day'. How do I connect this folder to upload on my website?

[2021-05-12 20:15] kubu4 commented on #1212
You need to append the filenames with `.md`.

[2021-05-12 20:28] kubu4 commented on #1212
Also, it looks you need to add a header section. Here's an example:

[code]

At a minimum, you need the dashes and the layout, title, and date lines. Change title and date to match your own post content. Leave the layout line as is.

[2021-05-12 21:31] ocattau commented on #1212
okay I have my headers and all files are in .md but nothing is appearing on my website. Here is what my code looks like.

 ---
layout: post
title: blast locally
date: '2021-05-12'
categories: blast
tags: test
tags: hemat_transciptome
---

#2021 May 12th
#today I finished blasting localy using NCIB blast and Jupyter notebooks
!{bldir}blastx \
-query ../oliviacattau/blasts/hemat_transcriptome_v1.5.f

[2021-05-12 22:07] kubu4 commented on #1212
I can't too into this ATM, but I see you also have this repo: https://github.com/ocattau/notebook

Should stuff actually be there instead?

[2021-05-12 23:08] kubu4 commented on #1212
I think the setup process got a little out of whack. In your desired repo, it shows this:

![image](https://user-images.githubusercontent.com/4514104/118054792-c1c09c00-b33b-11eb-86e4-c243caecddd8.png)

However, it should show something like this:

![image](https://user-images.githubusercontent.com/4514104/118054823-d866f300-b33b-11eb-9e22-746277f9bafc.png)

Which is what your `notebook` repo show

[2021-05-13 18:21] jldimond commented on #1184
Haha yes, religiously, of course!

Sorry, I don't have any ideas for dealing with Colony, or with this kind of pedigree data. The dendrograms I made that @mgavery is referring to were based on genomic data using a relatedness matrix with the [StAMPP](https://cran.r-project.org/web/packages/StAMPP/index.html) package.

[2021-05-13 18:51] ocattau commented on #1170
Thanks Mac! I just requested access.

[2021-05-14 16:33] jdmccauley commented on #503
How was this resolved? I ran into the same issue.

I did the following:

- Restart the software
- Reboot the instrument
- Clean the electrode
- Run diagnostics [PASSING]
- Run a loaded chip (thanks, I was trying an empty one and kept seeing 'not detected' until I saw this issue)

Now the chip is detected!

[2021-05-14 16:57] laurahspencer commented on #1184
Alright, thank ya'll

[2021-05-14 16:57] #1184 closed

[2021-05-14 18:14] yaaminiv commented on #1209
WGBS (4060):

[2021-05-14 18:15] yaaminiv commented on #1209
RNA-Seq (4059):

[2021-05-14 19:51] laurahspencer commented on #1189
Hey folks- I made a couple interactive plotly figures. If anyone feels like figuring out how to embed them into the open house page, that'd be awesome. Otherwise I'll mess around with it this weekend.

Files:
[seas-open-plotly.zip](https://github.com/RobertsLab/resources/files/6480919/seas-open-plotly.zip)

[2021-05-14 20:03] sr320 commented on #1189
Do you have a url where this lives like  http://plot.ly/~chris/1638?

[2021-05-14 20:09] laurahspencer commented on #1189
I could make that- will do in a bit

[2021-05-14 20:45] laurahspencer commented on #1189
https://plotly.com/~lhs3/15/
https://plotly.com/~lhs3/17/

[2021-05-14 21:09] sr320 commented on #1189
See https://robertslab.github.io/Open-House-2021/Ostrea/

[2021-05-14 21:40] jldimond commented on #1184
@laurahspencer - just thinking about this earlier while mtn biking - have you tried plotting a distance matrix of the father and mother ID data? Something like: plot(hclust(dist(x)))

[2021-05-15 16:44] sr320 commented on #1193
Let move forward on this Monday. on 65-9135, needing to get product and invoice in June.

[2021-05-17 18:47] sr320 commented on #1193
Lets get monitor, ssds, workstation,
$889.33 - 65-0193
$6000 - 65-9135
rest 65-2861

[2021-05-18 12:37] kubu4 commented on #1193
Ordered yesterday.

[2021-05-18 12:37] #1193 closed

[2021-05-18 12:46] kubu4 commented on #1209
@yaaminiv - Can you please contact Zymo and request md5 checksums for the FastQ files?

[2021-05-18 15:29] yaaminiv commented on #1209
Requested MD5 checksums and Bismark parameters used. Will report back when I get them.

[2021-05-18 18:54] kubu4 commented on #1212
This was resolved with correct yaml headers and, per @sr320 , hyphenating filenames (apparently, underscores are not permitted).

[2021-05-18 18:54] #1212 closed

[2021-05-19 00:32] grace-ac opened #1214 "how to embed images so render in read the docs?"
i made a directory in the [Open-House-2021](https://github.com/RobertsLab/Open-House-2021) repo ([/images](https://github.com/RobertsLab/Open-House-2021/tree/main/images))  and tried getting the images to render within the docs.

Example:
In [Hatchery.md](https://github.com/RobertsLab/Open-House-2021/blob/main/docs/Hatchery.md) I put:
[code]

It renders in the markdown, but does not show up on the

[2021-05-19 00:46] sr320 commented on #1214
Just go ahead and use url for now

On Tue, May 18, 2021 at 5:32 PM grace-ac ***@***.***> wrote:

--

Steven B. Roberts, Associate Professor

Associate Director - Graduate Program Coordinator

School of Aquatic and Fishery Sciences

University of Washington

Fisheries Teaching and Research (FTR) Building - Office 232

1140 NE Boat Street - Seattle, WA 98105

robertslab.info - ***@***.*** - @sr320

[2021-05-19 00:49] grace-ac opened #1215 "need to edit out end of DNA isolation video"
I'll do this later, but in case someone has an easy way to do it:

we need to edit out the end of the DNA isolation video (the part with opening the beer) to make it more family friendly

DNA isolation video: https://www.youtube.com/embed/z3D1NTwh0hk

[2021-05-19 01:06] sr320 commented on #1215
I might have did it in Youtube - it might take a few hours to render though

[2021-05-19 01:22] sr320 commented on #1215
looks like it is edited now.

[2021-05-19 01:28] grace-ac commented on #1214
the url didn't work either... I also tried:

[code]

and that didn't work either ...

[2021-05-19 01:28] grace-ac commented on #1214
nevermind! the url for the people page worked, so I must have copied the other ones wrong.

[2021-05-19 01:29] grace-ac commented on #1214
looks like it needs to be the raw link - makes sense

[2021-05-19 01:30] sr320 commented on #1214
I edited url is
`https://raw.githubusercontent.com/RobertsLab/Open-House-2021/main/images/SEAS2021-people-collage.png`

[2021-05-19 01:30] #1214 closed

[2021-05-19 01:43] grace-ac commented on #1215
perfect - thanks! glad you kept the bottle cap message haha

[2021-05-19 01:43] #1215 closed

[2021-05-19 04:58] grace-ac opened #1216 "plotly for open house looks too small"
Web page with plotly: https://robertslab.github.io/Open-House-2021/dataPart2/

Mardkdown: https://github.com/RobertsLab/Open-House-2021/blob/main/docs/dataPart2.md

Maybe it looks better on other people's web pages ... (my computer is struggling to refresh pages right now)
but it looks like the plotly of Laura's data is too short ... y-axis is shrunk and can't see full y-axis label

[2021-05-19 04:59] grace-ac commented on #1216
this was the original code for embedding the plotly:
[code]

[2021-05-19 05:02] grace-ac commented on #1216
oh never mind. it looks fine now I think

[2021-05-19 05:02] #1216 closed

[2021-05-19 13:31] sr320 opened #1217 "Jumpstart and move ahead with bittercrab.science"
https://bittercrab.wordpress.com/

Let jumpstart this with your effort such that we increase knowledge, engagement and opportunities.

[2021-05-20 00:22] afcoyle commented on #1217
Sounds good! Any thoughts on the general format this should take (podcast-centric vs. article-centric), good people to talk to, good ways to get this out there?

Beyond that, any general restrictions or requirements I should know about? If I remember right, this was originally part of the conditions of the funding - is that still in effect?

[2021-05-20 18:39] shellytrigg opened #1220 "Obtain uniprot annotations for S.salar genes"
@kubu4 can you create an annotations file (like this one https://raw.githubusercontent.com/hputnam/Geoduck_Meth/master/RAnalysis/Data/Genome/Panopea-generosa-genes-annotations.tab) for the genes in this Atlantic salmon gff (https://gannet.fish.washington.edu/metacarcinus/Salmo_Calig/GENOMES/v2/RefSeq/GCF_000233375.1_ICSASG_v2_genomic.gff)?

[2021-05-20 18:51] yaaminiv opened #1221 "Inquiry about Manila clam DNA"
Question from @mfisher5. Do we have any Manila clam tissues/DNA she could potentially use?

[2021-05-20 18:59] kubu4 commented on #1221
Check -80C inventory.

[2021-05-20 19:00] kubu4 commented on #1221
Also, doing the extraction will be faster/easier then having us search for samples and then coordinating a hand-off of some sort.

[2021-05-21 13:10] kubu4 commented on #1220
Ha! This file again...

I know we had lengthy discussions related to this file and the OSF repo, but I can't seem to track any of them down.

@sr320 I think you generated the `Panopea-generosa-genes-annotations.tab`. Would you happen to have a link to a notebook entry I could use for this?

[2021-05-21 13:13] kubu4 commented on #1220
Aaaaaaand, of course after I post that, I immediately found the discussion! It was Hollie's Geoduck_Meth repo (ended up searching Gmail to find the discussion).

https://github.com/hputnam/Geoduck_Meth/issues/16#issuecomment-786848374

I'll try to get something whipped up!

[2021-05-21 14:34] sr320 commented on #1217
Lets shoot for at least one text and one audio per week.. trying to keep as super efficient. Can chat at SH, leveraging IFTTT is way to go. No restrictions

[2021-05-21 14:54] sr320 commented on #1189
Nice job everyone!

[2021-05-21 14:54] #1189 closed

[2021-05-21 14:57] sr320 commented on #1221
Not sure that assay was Manila - but we did do Manila many years ago.. though we would likely only have RNA.

My suggestion, like Sam, would just have them grocery store > extraction.

[2021-05-21 14:58] sr320 commented on #1220
@shellytrigg - remind me what end goal with this effort is?

[2021-05-21 15:24] shellytrigg commented on #1220
@sr320 these annotations will be merged with genes that contain DMRs or are near DMRs. Then these genes can be compared with the genes that came out of the DEG analysis. The goal of this analysis is to be a gene-centric approach that is different but complementary to the approach that Cristian is taking with overlaying the meth data and expression data in the circos plot

[2021-05-21 15:28] sr320 commented on #1220
Gotcha - but with ducks this was based on our blast - I presume with salmon thes ID have already been generated by NCBI etc.... Main thing is we need to confirm we use what Cris uses..

[2021-05-21 15:39] shellytrigg commented on #1220
Cris confirmed he is using that same gff file linked above. Here is the list of DEGs and the name column contains either the LOC geneID or a gene name that I could map to Alternatively, there are genomic locations listed in this file that I could map to.

I was also interested in getting the GO terms for these genes which is why I wanting to use Uniprot, so that some functional inferences can be m

[2021-05-21 15:54] shellytrigg commented on #1220
To clarify, the GeneID (LOC numbers) and gene names are assigned in the gff file that is linked above and downloaded from NCBI. But not every gene has a gene name and there are no GO IDs listed. So the goal with Uniprot mapping was to try to get any missing gene names and GO annotations

[2021-05-21 18:57] yaaminiv commented on #1209
md5sums for WGBS data: https://github.com/RobertsLab/project-oyster-comparative-omics/blob/master/metadata/zr4060_md5.csv

Bismark parameter information from Zymo:

[2021-05-22 20:05] yaaminiv commented on #1209
md5sums for RNA-Seq data: https://github.com/RobertsLab/project-oyster-comparative-omics/blob/master/metadata/4059_md5sum.txt

[2021-05-28 12:33] sr320 commented on #1220
@kubu4 where does this stand?

[2021-05-28 13:08] kubu4 commented on #1220
Actively working on it (still). I'm probably trying to "over-engineer" it o make it reproducible, but it's a pain. This is in part because some of the genes do not have any matches in UniProt, while others have multiple matches... It's also related to trying to learn/use Python to convert GFF accessions to UniProt IDs to then use for my script to retrieve GO terms.

I should probably just resort t

[2021-05-28 14:22] kubu4 commented on #1220
Here's the current approach I've been using, in case anyone wants to weigh in:

1. Extract NCBI gene ids (listed in Dbxref attribute) using GFFutils (this is easy).
2. Map NCBI gene ids to UniProt accessions via Python (technically easy since UniProt provides Python script, but becomes tricky when trying to handle no matches and multiple matches; plus learning how to manipulate outputs (e.g. strin

[2021-05-28 18:56] yaaminiv commented on #1209
please put Bismark output in this folder: https://gannet.fish.washington.edu/spartina/project-oyster-comparative-omics/bismark-output-zymo/ thanks!

[2021-05-28 19:13] kubu4 commented on #1220
Update. I actually have the Python code running successfully! Getting closer...

[2021-06-01 13:16] kubu4 commented on #1220
Very close now... Parsing is working properly. Next is to do some joining.

A usable file should be available before noon PST today.

[2021-06-01 19:02] kubu4 commented on #1220
Well, script is still running... I'll post link when it's finished. But, I've already done all the testing and things look like they will be correctly formatted/matched up when it does finish...

[2021-06-02 03:52] kubu4 commented on #1220
Well, that took ~6.5hrs to run! Not what I was expecting. Anyway, here's the file:

https://gannet.fish.washington.edu/Atumefaciens/20210601_ssal_gff-annotations/20210601_ssal_chrom-gene_id_start-end-acc-gene-gene_description-go_ids.tab

Jupyter Notebook here:

https://nbviewer.jupyter.org/github/RobertsLab/code/blob/master/notebooks/sam/20210601_ssal_gff-annotations.ipynb

_Please_ look through t

[2021-06-02 04:17] kubu4 commented on #1193
Update: Computer has shipped, as well as external HDDs. Monitor is the only thing that was delayed until June 29th.

[2021-06-02 11:49] kubu4 commented on #1220
Oh, forgot to mention that columns are in this tab-delimited order:

| chromosome | NCBI gene ID | start | end | UniProt accession | gene abbreviation/name | gene description | GO IDs |
|---|----|----|----|---|----|----|----|

[2021-06-02 19:19] mattgeorgephd opened #1229 "Issue running bedtools in Jupyter"
I'm trying to get bedtools to run in a jupyter notebook and I've having some trouble. I think my main issue is I don't quite understand how all the environments are interacting, but more on that later.

I'm running on a Windows machine - bedtools only works on linux/macOS. I have followed the installation instruction for bedtools found here: https://bedtools.readthedocs.io/en/latest/

I started by

[2021-06-02 19:38] sr320 commented on #1229
@kubu4 Is there value in setting up Linux within Windows?

[2021-06-02 19:42] kubu4 commented on #1229
Per @sr320 , you'll need/want to install and use the Linux Subsystem for Windows. There should be some GutHub Issues and/or Slack conversations regarding how to install.

[2021-06-02 19:45] mattgeorgephd commented on #1229
I've seen some mention of using cygwin (https://www.cygwin.com/) on forums, but after installing I'm a bit lost. I'll take a look through some of the past github issues.

[2021-06-02 19:54] kubu4 commented on #1229
Follow instructions here: https://ubuntu.com/wsl

[2021-06-09 14:58] sr320 opened #1230 "Assess Dependency on Google"
Seems like we will be losing some features in the near future, lets ID where are dependencies are if any on Drive for storage or anything else that might be comprimised.

[2021-06-09 15:06] kubu4 commented on #1230
Primary usage is backup for all of our "bird" servers.

[2021-06-09 15:15] sr320 commented on #1230
all of candid images are on shared drive

[2021-06-09 20:56] sr320 opened #1234 "Upgrade the NASs with NICs"

[2021-06-09 21:44] kubu4 commented on #1234
What are you thinking here? Upgrading them to 10Gbps NICs? If so, we'll need Michael Parker to upgrade the ethernet switches, as they are "only" 1Gbps switches.

Regardless, the NICs in all of the Synology NAS are already 1Gbps (possible Gannet has 10Gbps NIC?).

[2021-06-09 21:51] sr320 commented on #1234
Then lets maybe first investigate why speed is not going above 100MB if in fact the NIC is >1Gbps.

[2021-06-09 22:09] kubu4 commented on #1234
Ah. So, 100MB/s is ~ the same as 1Gbps.

MB = megabytes

Gb = giga _bits_ (_not_ bytes).

Technically, 1Gbps = 125MB/s, but that's the theoretical conversion, which doesn't account for other network traffic/latency stuff.

[2021-06-14 14:42] sr320 opened #1236 "Cannot create Rmd on Rstudio server (raven)"
get the following

<img width="373" alt="image" src="https://user-images.githubusercontent.com/4442039/121910741-f382a500-cce3-11eb-9dc9-9b72c79bcf2e.png">

and not sure what getOption refers to.

[2021-06-14 14:47] kubu4 commented on #1236
This is likely related to Microsoft Open R and the CRAN snapshot that's currently loaded. Let me work on this...

[2021-06-14 14:54] sr320 commented on #1236
Can you remind me why we are running Microsoft?

[2021-06-14 15:02] kubu4 commented on #1236
It runs R multi-threaded (unlike standard R).

[2021-06-14 15:07] kubu4 commented on #1236
I've installed `rmarkdown 2.8`. Restart your R session and see if you can access it.

If not, do the following:

1. [Download this file](https://cran.r-project.org/src/contrib/rmarkdown_2.8.tar.gz) to the following directory:

`~/R/x86_64-pc-linux-gnu-library/4.0`

2. Install via RStudio GUI:

![image](https://user-images.githubusercontent.com/4514104/121914798-73f6d500-cce7-11eb-8121-3862a17e88c8

[2021-06-14 15:27] sr320 commented on #1236
thanks that worked.

[2021-06-14 15:31] kubu4 commented on #1236
Also, Microsoft Open R is setup to be more reproducible. It utilizes a CRAN snapshot system. This way, any time you're using it, you're only using packages that were available on CRAN at the time of the snapshot. In this case, Microsoft Open R defaults to a CRAN snapshot from July 2020.

To change the snapshot date, you need to use the `checkpoin()` library and specify the desired CRAN date.

So,

[2021-06-14 15:39] sr320 commented on #1236
related what about

[code]

can we run two versions of R?

[2021-06-14 15:49] sr320 commented on #1236
going down `BiocManager` path.. this might work..

[2021-06-14 16:05] sr320 commented on #1236
no go - will start new issue

[2021-06-14 16:05] #1236 closed

[2021-06-14 16:09] sr320 opened #1237 "Cannot install methyKit on R Server (raven)"
tried

[code]

[code]

tail of output

[code]

then started over with

[code]

and got

[code]

[2021-06-14 16:26] kubu4 commented on #1237
Dang, it seems like you're unable to install packages, which is annoying. However, those dependencies for methylkit always pop up during an initial install.

I'm out ATM, so can't deal with until later, but one thing to look into is setting a personal R library path. This should allow you to install packages without hassle.

[2021-06-14 21:26] yaaminiv opened #1238 "Test multiple enrichment methods on same data"
Goal: determine how different enrichment packages perform on methylation and RNA-Seq data

Enrichment methods:

- topGO
- goseq
- GO-MWU

Datasets:

- *C. gigas* or *C. virginica* methylation data
- Bitter crab RNA-Seq data

[2021-06-14 21:26] yaaminiv opened #1290 "Test multiple enrichment methods on same data"
Goal: determine how different enrichment packages perform on methylation and RNA-Seq data

Enrichment methods:

- topGO
- goseq
- GO-MWU

Datasets:

- *C. gigas* or *C. virginica* methylation data
- Bitter crab RNA-Seq data

[2021-06-16 15:52] yaaminiv opened #1239 "Mac Mini in FTR 230 dead"
At long last the Mac Mini (genefish) is dead (tried turning it on today, was not successful). Not sure if there's interest in replacing it. My workflow involved running things on genefish since I could easily ScreenShare into it, but I may have been the only one using it.

[2021-06-16 16:01] kubu4 commented on #1239
I don't think the computer's dead.

There was a power outage earlier this week and I think that may have tripped something. I say this because I can't access Owl either.

It's possible they were both plugged into the battery backup power unit.

Can you please verify that the battery backup unit is powered on (it's the big black box to the right of the TV)?

[2021-06-16 16:01] kubu4 commented on #1239
Also, it might be easier to do this via Zoom, so I can see things and help direct you more efficiently.

[2021-06-16 16:03] kubu4 commented on #1239
Off-topic, but

You should be able to easily do this with Ostrich (which is a much more powerful computer), as it is also Mac OS.

[2021-06-16 16:17] yaaminiv commented on #1239
Mac Mini + (hopefully) Owl should be back online. Turned the power box back on.

[2021-06-16 16:17] #1239 closed

[2021-06-17 15:14] sr320 commented on #1237
set up `/home/sr320/R_libs/` to install libraries locally.  Worked in that installed tidyverse.
However still getting methKit error

[code]

tried to install Rsamtools ...

[code]

[2021-06-17 15:22] kubu4 commented on #1237
What command(s) are you using to install those packages? Most of those packages are Bioconductor packages, so you'll need that Bioconductor installation command.

[2021-06-17 15:25] kubu4 commented on #1237
Also, you'll need to install `Rhtslib` before `Rsamtools`.

And, installing `Rsamtools` has been where things keep going wrong.

I haven't had a chance to install base R (instead of Microsoft Open R) yet, so haven't tested to see if that will fix the issue.

[2021-06-17 15:34] sr320 commented on #1237
latest error

[code]

[code]

[2021-06-18 05:24] kubu4 commented on #1237
Sorry! I had added you to the default `adm` group, thinking that meant `administrator` (and, thus, would make you a sudoer). However, it turns out, that `adm` group is solely for viewing log files or something. I've now added you to the `sudo` group, so you should be able to use `sudo` now!

In regards to this:

This can be remedied by creating a file in `~/.R/Makevars` with the following info:

`

[2021-06-21 22:35] #1229 closed

[2021-06-21 22:35] mattgeorgephd commented on #1229
The Linux Subsystem works great. Thanks Sam!

[2021-06-22 14:40] sr320 opened #1240 "Geoduck data wrong in NCBI?"
Browsing through NCBI as one does...
I came across a lot of RNA-seq data.... that might be in fact BS? though labelled WGS/

eg https://www.ncbi.nlm.nih.gov/sra/SRX8736520[accn] - seems to click through to WGS..

I am probably missing something.

[2021-06-22 14:42] sr320 commented on #1240
nevermind - did not click through to page 2

[2021-06-22 14:42] #1240 closed

[2021-06-22 14:44] #1221 closed

[2021-06-22 14:44] #1234 closed

[2021-06-22 14:44] #1220 closed

[2021-06-22 14:45] #1217 closed

[2021-06-22 14:45] #1211 closed

[2021-06-22 14:45] #1230 closed

[2021-06-22 14:54] sr320 opened #1241 "Characterize larval and juvenile geoduck transcriptomes"
Take our RNA-seq data, map onto genome, and describe the gene repertoire expressed at different stages.

Step 1: ID all relevant datasets

Step 2: QC data

Step 3: Map to genome to get expression / count data.

Step 4: Functional annotation of genes

[2021-06-22 14:59] sr320 commented on #1209
Status?

[2021-06-22 15:03] sr320 commented on #1161
@kubu4 can you remind me what budget this was put on?

[2021-06-22 15:04] sr320 commented on #1159
decided to stand down on Ostrea genome

[2021-06-22 15:04] #1159 closed

[2021-06-22 15:04] #1146 closed

[2021-06-22 15:04] #1072 closed

[2021-06-22 15:05] #1123 closed

[2021-06-22 15:05] #1105 closed

[2021-06-22 15:06] sr320 commented on #1126
Seems like we are not going forward with this?

[2021-06-22 15:09] sr320 commented on #1118
Status?

[2021-06-22 15:13] kubu4 commented on #1118
Working on this at the moment, actually. Hopefully have something running tomorrow. They suggested I use the newest version of the pipeline (which is more modular), however, that modularity altered the way in which you have to organize input/output directories compared to how it was setup before.

With that said, the developers think I shouldn't have any of the issues I had before (namely, dealing

[2021-06-22 15:17] kubu4 commented on #1209
All data has been downloaded.

Still need to:

- Run FastQC
- add to nightingales spreadsheet
- submit to NCBI SRA

I should be able to get the first two things finished today.

Submitting to NCBI might be finished by the end of the week...

[2021-06-22 15:19] kubu4 commented on #1161
Hasn't been put on any budget yet. We'll get invoiced and then pay.

[2021-06-22 16:06] yaaminiv commented on #1126
definitely not for WGS. maybe some interest in WGBS but we should discuss that

[2021-06-25 23:12] sr320 opened #1243 "How best to preserve fish blood for RNA?"
Basically, the plan is to take blood and brain (region of brain TBD -- and would love your thoughts on this) samples from ~20 sacrificed fish.

I am curious for advice on:
1) What vials to use and where to get them?
2) If I use RNAlater, and put the samples in the freezer (~-18C), would it be OK to let them warm to bring them home on the plane, or should I have a cooler?
3) protocol for cleaning s

[2021-06-28 13:07] kubu4 commented on #1234
I know this is closed, but I just noticed something related to this that I'll add here for posterity.

Transfers from Owl are _significantly_ faster when "pulling" from a remote location. E.g. Using `rsync` to move data from Owl to Mox is ~5x faster if the `rsync` command is initiated on Mox...

[2021-06-28 15:20] kubu4 commented on #1234
Never mind! The info in the above post does _not_ hold true!

Even more strange is that I was transferring files _from the same directory_ to Mox (one initiated on Mox and the other initiated on Owl) and they exhibited that difference in speeds. However, I decided to kill the slow sync and initiate from Mox, but the speeds were still slow! From the same exact directory on Owl.

[2021-06-28 16:25] kubu4 commented on #1234
Haha, well, I take back my _last_ message! Initiating from Mox does indeed have an average of ~5x transfer speeds from Owl!

[2021-06-29 01:50] kubu4 commented on #1118
Update:

Remarkably, this has been running without issue all day! Received a lot of great help from the developer to _finally_ get this running! With that said, it's definitely going to take a while to run (days - weeks)...

P.S. I probably just jinxed it by making this comment.

[2021-06-30 12:59] kubu4 commented on #1209
@yaaminiv - When you have a sec, can you please point me to (or, provide me with) info on sequencing sample names and corresponding metadata (experimental treatment(s), sex, tissue, age, etc)? I've looked through some of the files in that repo linked above, but am having difficulty figuring out how to match up the original sample names listed for DNA/RNA extractions with the names of the sequencin

[2021-06-30 16:58] sr320 opened #1247 "Describe provenance of Geoduck RNA-seq on NCBI SRA"
Thinking about geoduck RNAseq (NS and Hiseq) provide a description of the relationship of
https://sr320.github.io/Illumina-Summary/

to what is on SRA - (Notebook post is fine and likely already exists :)

[2021-06-30 18:13] yaaminiv commented on #1209
The sample ID in the [sample information document I sent to Zymo](https://github.com/RobertsLab/project-oyster-comparative-omics/blob/master/metadata/4060_SampleInformation.xlsx) matches with the sample ID in the sequencing sample names! The sample ID consists of two parts, a number and a letter (ex. 3F or 31M). The number corresponds to the "sample" column and the letter corresponds to the "sex"

[2021-06-30 18:17] kubu4 commented on #1209
Thanks! Don't need ages, if they're adults.

[2021-06-30 18:19] yaaminiv commented on #1209
They certainly are adults!

[2021-07-08 12:53] kubu4 commented on #1247
Notebook entry is here:

https://robertslab.github.io/sams-notebook/2016/12/21/sample-submission-geoduck-tissue-gdna-for-illumina-pilot-sequencing-project.html

The TL;DR is that we sent tissue to Illumina and they did everything else. All tissue from single geoduck.

[2021-07-08 15:47] sr320 commented on #1247
Thanks! I am looking for how to match these with SRAs

[2021-07-08 16:07] kubu4 commented on #1247
I don't think I understand fully what you're looking for. The info is in nightingales spreadsheet.

[2021-07-08 16:08] kubu4 commented on #1247
![image](https://user-images.githubusercontent.com/4514104/124955676-12671500-dfcc-11eb-8032-15fa40214ee2.png)

[2021-07-08 16:10] kubu4 commented on #1247
The last column in the screencap above is the SRA BioProject accession.

[2021-07-08 18:02] kubu4 commented on #1247
Sorry for being a dolt (still getting my head into "work mode"). I just realized what you're looking for! BRB...

[2021-07-08 18:17] kubu4 commented on #1247
Do you want accessions which lead to this NCBI page (NCBI "Run"):

![image](https://user-images.githubusercontent.com/4514104/124971248-cfae3880-dfdd-11eb-8a55-8fbfdb92e78c.png)

or do you want accessions which lead to this NCBI page (NCBI "Accession"):

![image](https://user-images.githubusercontent.com/4514104/124971400-fa988c80-dfdd-11eb-9324-35ee9a1c9c8c.png)

[2021-07-08 18:19] kubu4 commented on #1247
Or, this NCBI page (NCBI "Run Selector"):

![image](https://user-images.githubusercontent.com/4514104/124971646-4e0ada80-dfde-11eb-8494-636f95b2da7f.png)

[2021-07-08 18:20] kubu4 commented on #1247
Now that I've posted all that above,  I'll just put together a notebook which links to each one! How about that??!!  :)

[2021-07-12 14:44] kubu4 commented on #1247
New notebook entry is below. Let me know if you want me to make any changes.

https://robertslab.github.io/sams-notebook/2021/07/12/Summary-Geoduck-RNAseq-Data.html

[2021-07-12 18:09] sr320 commented on #1247
So cross-referencing with https://sr320.github.io/Illumina-Summary/

looks like

NR-21-Larvae-d5
and
Geoduck-larvae-day5-RNA-EPI-99

are not in SRA?

[2021-07-12 18:12] kubu4 commented on #1247
They are. I just neglected to incorporate them... Sorry!

[2021-07-12 18:15] sr320 commented on #1247
Could you also go ahead and list seq platform in the table also?

On Mon, Jul 12, 2021 at 11:13 AM kubu4 ***@***.***> wrote:

[2021-07-12 18:41] kubu4 commented on #1247
Update has been pushed. Might take a few mins to update.

[2021-07-12 21:54] sr320 commented on #1088
taking ABC to FRP number and all qPCR data-
@grace-ac can we meet on this soon?

[2021-07-12 23:04] afcoyle commented on #1088
Been poking around post-pubathon, and found a couple possibly helpful sheets!

[This one](https://docs.google.com/spreadsheets/d/1d17yg5F5gKKC66O8QkTIlPxljJeuX7ZsG46pkBr1lNQ/edit#gid=848044428) and [this one](https://docs.google.com/spreadsheets/d/1hXMY1rg5qYNTsqvO7PXbRgM7LF06ntEp27N2Efc9gSo/edit#gid=0)

Seems like you could cross-reference them to get qPCR data plus crab ID (A/B/C) and day for mo

[2021-07-13 00:13] afcoyle commented on #1088
Alright, a few issues (and possible solutions):

1: Looks like the order for the latter columns in the C_bairdi_RNAseq doc is pretty dang messed up (well, for the whole sheet honestly). I can't see version history, but seems worth reverting to something that makes more sense.

2. The middle 3 digits in the column with Unique IDs (6###_###_##) are probably the same as the Genewiz IDs, meaning we ca

[2021-07-13 17:06] kubu4 opened #1249 "Trim and identify isoforms in Yaamini's C.virginica data"

[2021-07-20 12:20] kubu4 commented on #1118
The current pipeline run died yesterday at the BUSCO step. Have submitted issue to BlobToolKit GitHub page.

[2021-07-20 13:21] kubu4 commented on #1249
@sr320  StringTie files are here:

https://gannet.fish.washington.edu/Atumefaciens/20210716_cvir_stringtie_GCF_002022765.2_isoforms/

Each sample has the following sets of associated files:

- `cov_refs.gtf`: GTF of fully covered transcripts which match the _C.virginica_ reference genome.
- `.gtf`: GTF of all transcripts/isoforms identified by StringTie in _C.virginica_ reference genome.
- `.sorte

[2021-07-20 15:30] kubu4 commented on #1249
Never mind! Caught an error. I've edited the above post to remove the link to the files. Will update with new link when error is resolved.

[2021-07-20 17:18] #1209 closed

[2021-07-20 18:06] grace-ac opened #1251 "crab tissue/RNA to send to Justin at USGS?"
Justin Greer (a collaborator of Maya Groner's) is wondering if we have any tanner crab tissue or RNA that he can use. He's starting a project and is wanting to test out primers.

I know Pam brought over tissue samples, and I also know that there's quite a bit of extracted RNA from my stuff in the -80. I just wanted to ask first, because I'm not sure what @afcoyle wants to use.

I'm working on clea

[2021-07-20 20:53] afcoyle commented on #1251
At the moment I don't have any plans in particular for the tissue samples, but I also haven't really thought about possible uses. Would love to chat about that sometime soon (maybe during/after the qPCR chat that'll hopefully be sometime this week?)

[2021-07-23 17:22] kubu4 commented on #1249
Alrighty, this has completed (properly) and I've provided the updated URL in the [post above](https://github.com/RobertsLab/resources/issues/1249#issuecomment-883387983).

Also, I noticed something when glancing at the data. Alignment rates are consistently low/lower in _males_, compared to the _females_. Not sure of what this means, but figured I'd share it.

Here's a table. The letter `M` or `F`

[2021-07-23 17:50] yaaminiv commented on #1249
I remember Zymo saying that the RNA samples were all somewhat degraded when they were received. My guess is that the low alignment rates in males could be because the sperm RNA degraded faster.

[2021-07-26 14:59] kubu4 commented on #1249
That seems like an obvious explanation. However, trimming also removes low-quality reads. So, even if initial RNA was degraded, I'd only expect the degradation to impact library creation and/or potential number of reads.

Since alignments were performed post-trimming, the only reads left should be the good ones (i.e. ones that would be expected to align).

The other aspect of this, of which I don'

[2021-07-26 16:53] sr320 opened #1252 "Identify differentially expressed isoforms and genes in Yaamini's C.virginica data"

[2021-07-26 17:14] kubu4 commented on #1252
This seems like a duplicate of this issue: https://github.com/RobertsLab/resources/issues/1249

Also, what are you envisioning here? In the issue I linked above, I've "identified" isoforms in all samples and have GTFs for all of them. What additional (if any) curation are you interested in?

[2021-07-27 15:53] sr320 opened #1288 "Develop Raven / Rstudio best practices"

[2021-07-28 16:33] kubu4 commented on #1118
BUSCO issue has been addressed by developer (https://github.com/blobtoolkit/pipeline/issues/16). Making recommended changes/installations and getting ready to run again.

[2021-07-29 13:47] kubu4 commented on #1118
Got two additional issues resolved quickly and the pipeline has successfully completed!

Now, to try to remember how to use BlobTools for actually viewing the results...

[2021-07-30 12:40] #1249 closed

[2021-07-30 18:34] sr320 opened #1287 "Include instructions for setting up Windows machine"

[2021-08-04 15:04] kubu4 commented on #1118
Viewing is happening! Getting closer...

![image](https://user-images.githubusercontent.com/4514104/128205090-7cb714e1-1a59-4bed-aa8f-6b0641fe9092.png)

[2021-08-06 18:27] afcoyle opened #1286 "Finding info on funding"
Pretty tricky to find location of information for funding and grants - maybe give it a separate heading rather than mixed with External Communication. Also some of the info is out of date (for instance, Hall Conservation Genetics is up to $7500!)

Currently kept at https://robertslab.github.io/resources/External-Communication-and-Funding/

[2021-08-10 13:10] sr320 commented on #1252
How is this going?

[2021-08-10 13:11] #1247 closed

[2021-08-10 14:07] kubu4 commented on #1252
Fine. Have to dive into Ballgown.

[2021-08-13 21:49] ocattau opened #1255 "how to get around Mac OS 'sudo access' problem"
I am attempting to reinstall all the programs I lost when my laptop got stolen this week. I already have homebrew installed via the command line, but now I am trying to install kallisto with Jupyter with

 \`\`\`!ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"\`\`\`\

- [ Warning: The Ruby Homebrew installer is now deprecated and has been rewritten in
Bash

[2021-08-13 21:55] sr320 commented on #1255
Generally speaking I would not use Jupyter to install - as you point out, you cannot interact with pw.
Use command-line to install.

[2021-08-16 18:47] #1255 closed

[2021-08-16 18:51] ocattau commented on #1046
I am having the same issue as Aidan did when he was building the index and it took +36 hours. Does this mean that I cannot build an index without Mox even if I am using a brand new MacBook?

[2021-08-16 18:53] kubu4 commented on #1046
Correct. Follow that link above for instructions on how to get started with Mox.

[2021-08-17 18:07] sr320 opened #1256 "Create a lab notebook"
please

[2021-08-17 18:19] sr320 commented on #1256
and drop url here...

[2021-08-17 18:35] sr320 opened #1274 "Better describe local computers"
including use cases and access
https://robertslab.github.io/resources/Computing-Hardware/

[2021-08-17 18:47] sr320 commented on #1046
@afcoyle you mentioned you did this on emu ? or other bird...
where is a notebook post @ocattau might be able to look at?

[2021-08-17 19:02] afcoyle commented on #1046
Yep, I used roadrunner! Looking back, I didn't make a notebook post specifically for logging on to Roadrunner, but I think [this script would potentially be pretty helpful for creating that kallisto index!](https://github.com/afcoyle/hemat_bairdi_transcriptome/blob/main/scripts/3_1_download_libraries_run_kallisto.ipynb)

As far as actually getting on to Roadrunner, Sam made an account for me and t

[2021-08-17 20:38] grace-ac opened #1257 "qubit RNA HS standards and samples question"
Lindsay A. has been using the qubit with the RNA HS kit (Jackie's lab will reimburse/replace reagents and tubes used!!!)

**Weird stuff with standards**
The standard 1 for RNA HS has been reading at ~30 for the last two rounds of qubit-ing she's done. When I have run qubit for RNA HS, standard 1 is typically in the high 70s, mid to high 80s.

**Weird stuff with samples**
The sample readings have b

[2021-08-18 19:03] #1046 closed

[2021-08-18 19:05] sr320 commented on #1161
just wanted to follow up status...

[2021-08-18 19:06] #1243 closed

[2021-08-18 19:08] sr320 opened #1258 "Update / confirm accuracy of Lab Inventory"
see https://docs.google.com/spreadsheets/d/11RA_mlLB-3m_GySnTTuDazDdOi0bCxJu2VERuX9Qfx8/edit#gid=0

[2021-08-18 19:24] kubu4 commented on #1161
Last update was June 22nd; repair person was going to check in with supplier regarding ETA, but I never heard back.

Just pinged again and will report back.

[2021-08-18 19:55] kubu4 commented on #1161
Update: Part is currently in customs. Expectation is that it will clear customs soon and is expected to be delivered by the end of the week. Not sure how long it will be after receipt of the part (presumably, fast).

[2021-08-18 22:42] sr320 opened #1260 "Trimming parameters on Cv WGBS data"
How was this data quality trimmed?
File names for reference.

[code]

[2021-08-19 04:46] drlawson commented on #1256
https://drlawson.github.io/ :)

[2021-08-19 04:50] drlawson commented on #1075
Can do. What is nightingales?

[2021-08-19 05:39] kubu4 commented on #1075
@drlawson Send me an email (samwhite AT uw DOT edu) with your preferred email address for accessing Google Docs (some people use their UW address, but many also use their personal Gmail address) and I'll give you editing access to the Nightingales spreadsheet (which is what is referenced in this issue).

[2021-08-19 05:41] #1256 closed

[2021-08-19 05:49] kubu4 commented on #1257
There are too many variables involved in order to troubleshoot this. E.g.:

- What's the expiration date(s) on reagents?
- Why did she decide to re-run samples?
- How were samples stored/treated between re-running?
- How is she making the dye solution?
- What sample volume is she measuring (low volumes are more subject to pipetting errors)?
- Is she making sure to change the settings on the Qubit

[2021-08-19 14:14] kubu4 commented on #1260
Cut Adapt: 5'R1: 15bp / 5'R2: 15bp / Nextera adapter

Per the MultiQC file (in the "Summary" section): https://github.com/RobertsLab/project-oyster-comparative-omics/blob/master/metadata/zr4060_multiqc_report.html

[2021-08-19 14:14] #1260 closed

[2021-08-19 14:31] sr320 commented on #1260
Thanks! so you did not do any trimming? data arrived trimmed?

[2021-08-19 14:41] kubu4 commented on #1260
Correct. The WGBS data was completely processed/analyzed by Zymo. Like completely - all the way through Bismark.

Here's the Bismark data: https://gannet.fish.washington.edu/spartina/project-oyster-comparative-omics/bismark-output-zymo/

[2021-08-23 16:04] sr320 opened #1273 "Assess MAR freezer"

[2021-08-25 17:51] sr320 opened #1264 "Audit Lab Handbook for errors and issues"

[2021-08-25 17:58] #1264 closed, assigned to drlawson

[2021-08-25 19:29] sr320 opened #1265 "Create meta data table for RNA-seq crabs"
Create table aggregating all know parameters.
qPCR
PCA spread
Proportion of reads mapping to Hema
any "index" of number of immune genes - GO hits
non target seqs
etc

[2021-08-26 21:20] sr320 opened #1267 "Send out oyster samples for histo"
Diploid / Triploid

Time 0 - about 15 each

[2021-08-26 21:27] sr320 opened #1268 "Determine if SAFS has spec to you in physiology assays"

[2021-08-26 22:00] sr320 opened #1269 "Send out triploid diploid WGS samples for seq"
to look at CNV

[2021-08-27 16:47] afcoyle opened #1270 "Assign unique-sample-id to all histology samples"
Delaney found in the handbook that there's a discrepancy between the histology sample instructions and the actual data table.

According to the [histology data management protocol](https://robertslab.github.io/resources/Data-Management/#histology-data-management-plan), all samples should be dealt with as follows:

`Each sample should have a unique-sample-ID which is: experiment-date_organism-label

[2021-08-27 17:13] afcoyle opened #1271 "Update Experiment Database"
[This spreadsheet](https://docs.google.com/spreadsheets/d/1nRSR_tgyslrJLXvKzhdtKx2iZLg1E7eKY0_-qzyS7OE/edit#gid=0), found on the Databases and Catalogs/Experiment Database [page of the lab handbook](https://robertslab.github.io/resources/Experiment-Database/)

[2021-08-27 17:52] aspencoyle opened #1272 "Add jupyter lab paragraph to Computing and Code in handbook"
Under Best Practices subsection. Describing basic principles and use cases, along with info on installing (some install info already available in Onboarding section).

[2021-08-31 05:06] drlawson commented on #1075
Okay I'm about to start working on this project :) I was looking at the data sheet and had a couple questions. I see that some have only a submission date, some have only a receipt date, and some have neither/are missing information (such as those that only have the sequence ID). (1) Should I make a new column labeled "Date" and put the submission OR receipt date there (if the samples only have on

[2021-08-31 05:08] drlawson commented on #1075
Sorry one more thing. Is there a preferred format between mm/dd/yyyy, mm/dd/yy, and yyyymmdd?

[2021-08-31 18:59] sr320 opened #1275 "Set up Olivia an account on Raven (for RStudio)"

[2021-08-31 22:45] sr320 opened #1276 "Order a printer for the lab"

[2021-09-01 03:58] drlawson commented on #1075
Just converted all dates to common format (yyyymmdd)

[2021-09-01 04:09] sr320 commented on #1075
Can you indicate that format is to be used going forward in the DMP section of handbook?

[2021-09-01 12:36] kubu4 commented on #1275
@ocattau Check slack DM for password.

[2021-09-01 12:36] #1275 closed

[2021-09-01 13:51] kubu4 commented on #1276
Which budget?

[2021-09-01 17:11] kubu4 commented on #1161
Scope has been delivered and is set up with the other scopes in FTR 213.

Manual for the light source is here: https://github.com/RobertsLab/resources/blob/master/equipment_manuals/CoolLED_pE-300_manual_20210901.pdf

![PXL_20210901_165336936](https://user-images.githubusercontent.com/4514104/131714254-9a2f62a7-2f30-4c59-a6d6-3af732e6fcd6.jpg)

[2021-09-01 17:11] #1161 closed

[2021-09-01 17:31] sr320 commented on #1276
61-0552

[2021-09-02 15:43] kubu4 commented on #1276
Ordered.

[2021-09-02 15:43] #1276 closed

[2021-09-03 21:21] drlawson commented on #1075
yep. done :)

[2021-09-07 16:06] sr320 opened #1278 "add DEI meeting material to DEI Resources page"
Duplicate it from Expectation page

[2021-09-07 16:39] sr320 opened #1279 "Add classes to lab calendar"

[2021-09-07 19:56] sr320 opened #1280 "Update Personnel Page"
@drlawson can you generally try to update...
and @ocattau, @AHuffmyer, and @ChrisMantegna can add profiles.

edit https://github.com/RobertsLab/website/blob/master/People.md

[2021-09-07 20:03] sr320 opened #1281 "Run through Network graph tutorial"
https://www.statworx.com/de/blog/interactive-network-visualization-with-r/

(be sure to document in lab notebook)

[2021-09-07 20:10] sr320 commented on #1278
related - can you improve on my formatting of the material so it is easier to read?

[2021-09-07 20:15] sr320 opened #1282 "Compile list of funding opportunities (grants) in handbook"
Seems like we have something like this? but could not find.

Once made - something to consider
https://d.pr/f/7x5YE2

could set up as form and visible spreadheet

[2021-09-07 20:27] sr320 opened #1283 "Set up CEABIGR Website"
Github based...

Something along lines of handbook

[2021-09-07 20:43] sr320 opened #1284 "Run through tidymodels"
https://www.tidymodels.org/start/

run through tutorials

[2021-09-07 20:45] AHuffmyer commented on #1280
Can do! @drlawson would you like us to send you our bio .md text or directly add to the People.md file?

[2021-09-07 20:50] drlawson commented on #1280
Adding to the people.md file should be fine! :)

[2021-09-07 20:50] sr320 commented on #1280
@AHuffmyer you can just directly edit People.md

thanks!

[2021-09-08 18:18] kubu4 commented on #1268
I'm 99% certain the plate reader we have in FTR228 can handle kinetic assays. However, I can't currently remember what filters are available for measuring various wavelengths. You'd have to check the plate reader and see what's currently installed and what extra filer we have.

[2021-09-08 18:25] mattgeorgephd commented on #1268
As an update to this: The plate reader in FTR228 can run kinetic, but only for 10 min. It also does not have a filter that is in the 400 nm range.

[2021-09-08 18:31] kubu4 commented on #1268
Bummer about the filers (you checked both, correct?).

Also, the manual doesn't indicate a 10min limit for an kinetic assay. It _does_ indicate that the maximum time _between_ measurements is 10mins...:

[2021-09-08 20:27] mattgeorgephd commented on #1268
Ahh, ok - thank you for the clarification.

Yes, I checked all the filters that were with the machine, as well as the old run log to see if anyone had run one within the desired range.

Given that the machine might be able to handle the kinetic assay - would it be possible to order a filter? I couldn't find a 412 nm on the website (https://www.perkinelmer.com/category/filters-filtration-products)

[2021-09-08 20:34] kubu4 commented on #1268
Presumably you can put any desired light filter that fits into the slots of either of the filter slides. I don't know the specifications (i.e. diameter of the slots in the filter slides).

I believe there's also a filter "wheel", but can't totally remember (haven't used it in years, and used infrequently when I did use it).

I'll shoot an email to Chris Monson and see if he can remember more about

[2021-09-08 22:13] drlawson commented on #1279
Done :)

[2021-09-08 22:48] drlawson commented on #1278
got it! i changed it into a numbered list instead, let me know what you think: https://robertslab.github.io/resources/DEI-Resources/

[2021-09-08 22:49] drlawson commented on #1278
if you think it looks good I can edit the expectation page to be the same. If not, I can try different methods :)

[2021-09-08 22:58] sr320 commented on #1278
Looks good!

[2021-09-08 23:23] drlawson commented on #1278
Awesome. Done! 👍

[2021-09-09 17:23] kubu4 commented on #1268
Response from Chris:

The plate reader currently has the excitation filters: F355 nm, F485 nm, P405 nm, P450 nm, P490 nm, and emission filters: F460 nm, F535 nm, D545 nm, D572 nm, D615 nm, D642 nm, D665 nm installed. These are the ones that were there when I began using it. I installed an emission filter at 590+/-10 nm and an excitation filter at 555+/-38 nm as well. I'm not sure which filter slid

[2021-09-09 17:52] mattgeorgephd commented on #1268
This is great news! A test of the P405 nm filter seems like it might be worth while. I was a little hesitant to use the 405 given we don't have the absorbance spectrum (I can't find it published anywhere, not sure how wide the band is) - so if the assay doesn't work it would be difficult to troubleshoot if it was the spec or reagents. Given we have extra tissue, it can't hurt to try. Thank you for

[2021-09-09 17:53] kubu4 commented on #1268
My pleasure!

[2021-09-09 22:09] ocattau commented on #1280
done!

[2021-09-09 23:10] afcoyle commented on #1279
I see mine and Olivia's on there, so I'm gonna mark this one closed!

[2021-09-09 23:29] sr320 commented on #1279
Lets leave open until Chris and Zach get classes on there.

[2021-09-10 21:42] mattgeorgephd commented on #1267
To embed, mount, section, and H&E stain 6 cassettes (24 oysters, 4 gonad sections per cassette) will be $103.20 through UW Pathology. Request form is attached.

[20210910_PRS_Work_order_form.xlsx](https://github.com/RobertsLab/resources/files/7146604/20210910_PRS_Work_order_form.xlsx)

@sr320 - which budget number should we use?
@kubu4 - as you have submitted samples before, could you look over my

[2021-09-10 21:55] sr320 commented on #1267
62-2795

[2021-09-13 15:14] yaaminiv opened #1289 "Clean out -80"
List things that could be moved in the comments

[2021-09-13 20:00] laurahspencer commented on #1289
Some of my samples could potentially be tossed - @sr320 do you have any use for ....

1. Whole-body juveniles preserved after being "shocked" for 5-hrs in low pH (7.0) and ambient pH (8.0). The juveniles are offspring of Fidalgo Bay and Oyster Bay Oly populations exposed to OA/Control. [Notebook entry](https://laurahspencer.github.io/LabNotebook/Acute-OA-Exposure/). Some samples were already used

[2021-09-17 05:43] drlawson commented on #1270
@afcoyle working on completing this now! I see that there are 13 different images for "Angasi001," how do I know which image ID to choose? Also there seem to be 5 "O. angasi 1" rows in the histology database - do you think the unique-sample-ID should be the same or different for each of these 5 rows?

Also - if the tissue is missing in the histology database what would you suggest putting on the e

[2021-09-17 15:59] afcoyle commented on #1270
Honestly, I have no clue on any of those questions - I've done zero work with the histology data. I think @sr320 might be the person to ask on this one!

[2021-09-17 16:44] laurahspencer commented on #1270
Those Angasi histo images/slides are mine - there are multiple images from the same slide at different magnifications, capturing different locations on the slide, etc.

[2021-09-17 16:49] laurahspencer commented on #1289
Toss 1 and 2, keep 3 and 4

[2021-09-22 12:56] mattgeorgephd commented on #1267
Samples submitted to PRS

[2021-09-22 16:56] sr320 opened #1293 "Dispose of mercuric chloride samples"

[2021-09-22 16:57] sr320 opened #1294 "Wash and store glassware"

[2021-09-22 17:30] sr320 opened #1295 "Discard / recycle material outside 213"

[2021-09-22 18:33] sr320 opened #1296 "Surplus equipment in FTR 234"

[2021-09-22 20:41] sr320 opened #1297 "Clean Whiteboards / Organize Cable supplies etc in FTR 230"

[2021-09-22 22:19] sr320 opened #1299 "Develop annotation platform for coral species"
Aggregating genome feature files and visualizing using IGV, and possibly other frameworks like NCBI,

Two species to start ...

Porites lutea http://plut.reefgenomics.org/

https://www.nature.com/articles/s41564-019-0532-4

Pocillopora verrucosa - http://pver.reefgenomics.org/

https://academic.oup.com/gbe/article/12/10/1911/5898631

[2021-09-26 18:42] drlawson commented on #1295
done

[2021-09-26 19:03] drlawson commented on #1293
where are these?

[2021-09-26 21:08] sr320 commented on #1293
Will need to get instructions from Sam on this..

[2021-09-30 18:21] sr320 opened #1302 "ID lncRNAs in RNA-seq data set"
data: https://github.com/hputnam/Express_Compare

[2021-09-30 18:32] sr320 commented on #1302
see
https://nf-co.re/lncpipe
https://link.springer.com/content/pdf/10.1007%2F978-1-4939-9045-0_13.pdf

[2021-10-01 21:24] sr320 opened #1303 "Download Cgigas WGS data for CNV analysis"

[2021-10-01 21:55] sr320 opened #1304 "Find rDNA Array in oysters"

[2021-10-04 15:51] sr320 opened #1305 "Get quote from UW Seq Center"
15 samples.

Quote out as separate services is good.

- Transcriptome with rRNA depletion for Strand specific mRNA and various non coding RNA (lincRNA,snRNA, snoRNA) analysis (library prep and sequencing)
- IsoSeq for splice variants of the transcripts (library prep and sequencing)
- Small RNA for Separate analysis of non coding RNA and micro RNA (library prep and sequencing)
- ATACSeq (library pr

[2021-10-04 16:30] kubu4 commented on #1305
Couple of notes:

- rRNA depletion traditionally doesn't work with oyster/invertebrate samples.

- How much data do we want (e.g. # of reads, # of bases, coverage)?

[2021-10-04 16:35] sr320 commented on #1305
We _think_ it works with coral.

re data, curious to know options (if any they offer). If they ask, 30x.

[2021-10-04 19:17] kubu4 commented on #1305
When asked about services, here's the reply:

They did not address IsoSeq and ATACseq, so I'm assuming those two fall under the same limitations.

I'll get a quote for WGBS (sequencing only). And, along those lines, what species are we sequencing (primarily so I can determine genome size to pass along to use for sequencing depth requirement)?

[2021-10-04 19:22] sr320 commented on #1305
a few, but just use Pocillopora meandrina

[2021-10-04 19:26] kubu4 commented on #1305
You want me to hunt down another facility for the other RNAseq variations that UW Genome Sciences doesn't handle?

[2021-10-04 19:32] sr320 commented on #1305
No - Hollie is checking with commercial facilities etc.. just curious how UW compares..

[2021-10-05 20:42] sr320 commented on #1299
Tackle this prior to #1302

[2021-10-06 17:14] sr320 opened #1306 "Analyze oyster oil contamination data"
Step 1 identify data

Step 2 run Bismark

Step 2 run Methylkit

[2021-10-07 19:57] kubu4 commented on #1305
WGBS sequencing (30x coverage for each library): `$6974.00`

[2021-10-07 21:35] sr320 opened #1307 "Extract RNA from Sockeye Samples"
Samples in the bottom of -80.

Want to extract 4 samples from each tissue to determine quality and quantity.

<img width="591" alt="IMG_4336_HEIC" src="https://user-images.githubusercontent.com/4442039/136465671-f0c5b717-8c9f-4732-9e77-f6f07e6bcd8c.png">

Prior to extracting lets confirm plan.. For example do we split samples if large tissue mass.

[2021-10-07 21:47] sr320 opened #1308 "Analyze Oyster gonad Histo slides"

[2021-10-07 21:47] sr320 commented on #1308
coordinate with @mattgeorgephd for details.

[2021-10-08 16:50] mgavery commented on #1304
This is not consistent with Xu et al. (2001), which says 1 chrom, but still confusing to me.  Most of the rRNA in the gtf are 5s rRNA and not sure what Xu et al. probed for? I don't think it was 5s.  Why the heck is the nomenclature of this stuff so annoying!?!?!
[01XurDNAFISHVeliger.pdf](https://github.com/RobertsLab/resources/files/7312955/01XurDNAFISHVeliger.pdf)
?!

[2021-10-08 17:19] mgavery commented on #1304
Ok, I think I'm getting closer.  The 5s is a separate from the major rDNA array - There is one chromosome (Chr 9) that has an annotation of "large", "5.8" and "small" rRNA.  I think this is this one..

[2021-10-08 23:09] drlawson opened #1310 "Log scale in R help :)"
Hi all, I made this figure and table to represent metadata from the nightingales datasheet. I want the y axis to be logarithmic so you can actually see the values for each primary taxa. However, when i add the log scale on the y axis, the data seems to be incorrect (shows P_generosa as having more than O_lurida which is not correct). Anyone know how to solve this? Or am I interpreting this incorre

[2021-10-10 20:28] mattgeorgephd commented on #1308
Hi @drlawson. I placed the samples on the shelf above the desk in the back of FTR 209. Here is a picture of the box and a slide diagram.

![20211008_095518](https://user-images.githubusercontent.com/70529576/136712062-cdfa6c87-b12c-4e4d-9fb3-2f7705004db2.jpg)

![histology_cassette_diagram](https://user-images.githubusercontent.com/70529576/136712063-0dd421be-c1bd-4807-8392-a127965c4569.jpg)

[2021-10-12 19:55] grace-ac opened #1313 "estimated turnaround time for getting RNAseq data?"
I'm trying to get an idea of how long and about how much $ it would take for me to extract RNA from sea star cells, send to sequencing facility, and then get the data back, and then analyze data, etc. Estimates on time and $ is needed by sea star project funders.

**I looked back at some notebook posts, and it looks like Genewiz got all of our individual crab RNAseq data to us within 5 weeks. Is t

[2021-10-12 20:26] drlawson commented on #1076
<img width="288" alt="Screen Shot 2021-10-12 at 1 26 29 PM" src="https://user-images.githubusercontent.com/73162507/137024308-40c084f8-fc40-4757-b238-82b1d35b77a3.png">

[2021-10-12 22:08] #1267 closed, assigned to mattgeorgephd

[2021-10-12 22:08] #1268 closed, assigned to nobody

[2021-10-13 18:44] ocattau opened #1314 "Running Kallisto on Raven (Rstudio)"
How to run kallisto on Raven server
I saved my fasta file in my root directory for this one time /home/olivia/xxx.fasta

[code]

[2021-10-13 18:49] sr320 commented on #1314
is there a specific error or issue you have a question about?

[2021-10-13 18:56] #1314 closed, assigned to nobody

[2021-10-17 02:39] drlawson commented on #1270
@afcoyle All of the unique sample ids are updated, the image ids are added to the best of my ability but i was unable to match the o lurida images to the samples due to the naming used in the files - so i just put the link to the file in the image_id column :)

[2021-10-19 23:05] sr320 opened #1318 "Complete GSAR Forms"
Please go and complete the Student form - [direct link](https://fish.uw.edu/wp-content/uploads/sites/29/2021/10/GSAR-Student-Report.docx), send to me.

And then grab a slot to schedule a meeting.

[2021-10-20 21:11] ocattau commented on #1318
Just sent mine via slack

[2021-10-20 21:29] ocattau opened #1320 "Did Github change their max file upload size to 50MB?"
When I tried to push a ~56MB file to Github I got this error message. When did this happen? I thought the limit was 100MB?

remote: warning: File analyses/output_01/abundance.tsv is 55.97 MB; this is larger than GitHub's recommended maximum file size of 50.00 MB

[2021-10-20 21:40] #1320 closed, assigned to nobody

[2021-10-20 23:48] sr320 commented on #1280
believe just need @zbengt 's update to close out

[2021-10-21 16:59] ocattau commented on #1241
I now have my output file with count data and an index file, I documented it in my notebook. What is the next step?

[2021-10-21 19:58] #1318 closed, assigned to aspencoyle, ChrisMantegna, ocattau, zbengt

[2021-10-22 03:42] #1265 closed, assigned to aspencoyle

[2021-10-22 13:17] yaaminiv opened #1322 "Upload Cv data to Mox"
https://gannet.fish.washington.edu/seashell/bu-mox/scrubbed/071521-cvBS/

[2021-10-22 13:18] yaaminiv opened #1323 "Install BS-Snper on Mox"
https://github.com/hellbelly/BS-Snper

[2021-10-22 13:23] #1323 closed, assigned to sr320, kubu4

[2021-10-22 14:24] #1322 closed, assigned to sr320

[2021-10-22 19:12] ocattau opened #1325 "Requesting Mox access"
Following the protocol on the Roberts Lab handbook, I would like to request access to the Mox server!

[2021-10-22 19:18] #1325 closed, assigned to nobody

[2021-10-25 20:59] shellywanamaker opened #1326 "Draft intro for Geoduck repro dev pH manuscript"
@sr320 is @drlawson or someone else available to help start drafting the intro for the manuscript [pH effect on Geoduck Reproductive Development](https://docs.google.com/document/d/1YRoMQprj-cUQzBWzJ9lwSXrLbU3UYlutvDPb2QNlcMQ/edit?usp=sharing). If so I'm happy to chat in more detail about the manuscript

[2021-10-25 22:45] sr320 opened #1327 "Get more SSD for Raven"
As per instruction, I am attempting to move my material off Raven proper to an external SSD.
Pretty sure I have filled up said SSD. Can we get a larger one?

[2021-10-27 18:21] ChrisMantegna opened #1328 "Broken Image link"
I cannot seem to fix whatever stops my photo from loading in my lab notebook. It presents on the post preview, but not in the lab notebook itself.

-Chris

[2021-10-27 19:20] #1328 closed, assigned to sr320, kubu4, aspencoyle

[2021-10-31 22:17] ChrisMantegna opened #1329 "GIS ?"
Hey all!
I'm looking for 'required' skill recommendations for our research neck of the woods and I'm thinking that GIS may be a useful one.  In my mind that is 2nd tier to things like statistics, data science, molecular bio kind of skills when building a course schedule.

Any suggestions?
Thanks!

[2021-11-01 16:34] sr320 commented on #1329
Would not consider required, the other area missing in the list of prominent areas is physiology.

[2021-11-01 19:42] ChrisMantegna commented on #1329
For sure - that is a true oversight on my part. I'll def. take another pass at the BIOL course list.
@afcoyle @ocattau @mattgeorgephd @kubu4 @AHuffmyer -- what courses were most beneficial to you in your early grad school days? Thanks!

[2021-11-01 19:51] #1327 closed

[2021-11-01 20:34] AHuffmyer commented on #1329
Agreed on physiology! Courses that help you learn data skills are particularly useful - R courses, bioinformatics, etc. Courses that cover oceanography/ocean chemistry, energetics, and thermodynamics are great context for climate change work. I wish I could have had the opportunity to take courses that covered respiration/respirometry and performance curves for physiology work! Now that I am in th

[2021-11-01 21:09] AHuffmyer opened #1333 "Write Science Incubator proposal and submit by Nov 10th"
Write and submit proposal for the science incubator project for multi-omic integration. [Google Folder link](https://drive.google.com/drive/u/3/folders/1awzqkiFilxHDQA7RufqFC8VwwcnUDb_n)

[2021-11-02 00:33] afcoyle commented on #1329
Definitely agree with Ariana on the importance of data science courses! I've taken a bunch so far, and it's really really helped me have a good grasp on how to structure my research, both on a day-to-day and big-picture level.

Here's a list of all the classes I've taken so far that've been most useful in my research:
- Intro to R (FISH 552/553). Taught by Kristin Privitera-Johnson. I knew a mishm

[2021-11-02 05:48] ChrisMantegna commented on #1329
@zbengt -sorry I left you out on the first round, but join in the fun :)

Thank you @AHuffmyer and @afcoyle! Super helpful suggestions.
@afcoyle - take 561, I had my eye on it as well.

[2021-11-02 18:09] mattgeorgephd commented on #1329
A few courses in the Biology department worth keeping an eye out for:

BIOL 421 Ecological and Evolutionary Physiology of Animals
BIOL 423 Marine Ecological Processes
BIOL 560 Seminar in Ecology - Friday morning at 9:30. Don't have to sign up for credit to attend.

[2021-11-02 19:59] zbengt commented on #1329
Thank you all for these suggestions!

@ChrisMantegna If you're interested in GIS, I've heard a couple grad students recommend marine GIS in oceanography or the equivalent (non-marine focused) class in geography. But I think the best way to engage with GIS is to learn what the tools look like and then tinker around with them yourself from there. A lot of more computationally focused GIS happens usi

[2021-11-03 04:40] ChrisMantegna commented on #1329
Thank you @mattgeorgephd -awesome suggestions. @zbengt - I will take you up on the training/ resource stuff. It's the perfect way to check it out.

[2021-11-03 20:34] yaaminiv commented on #1329
popping in for a timely course recommendation: the ENGAGE class! over the course of winter quarter you practice science communication skills, culminating in a public talk at town hall seattle in the spring. definitely one of my favorite classes i took!

applications are out and due by 11/19: https://catalyst.uw.edu/catalyst/chooser/cf14fdf812d4d6c35527442826e5d7d3

[2021-11-05 05:39] ChrisMantegna commented on #1329
Thank you, thank you all! Tons of valuable info in here :)

[2021-11-05 05:39] #1329 closed

[2021-11-08 19:14] grace-ac opened #1340 "R and GitHub no longer connected... 2FA required?"
I got a new laptop  (YAY!!!!!!!), but now my R and Github are no longer connected...

When I try to commit and push to my github repo from R, it makes me log in to GitHub from R, then it says:

<img width="991" alt="Screen Shot 2021-11-08 at 11 05 25 AM" src="https://user-images.githubusercontent.com/14934314/140803257-60591797-826a-4f3b-8cf2-11cee2a1e5c2.png">

I went to the [link suggested](http

[2021-11-08 19:44] sr320 commented on #1340
Need a personal access token
see https://github.com/RobertsLab/resources/discussions/1107

[2021-11-08 19:48] grace-ac commented on #1340
Ah! Thanks!!

[2021-11-08 19:57] grace-ac commented on #1340
I got a PAT, but I don't know where i'm supposed to put it in to get R to connect to Github... same issue is still happening where R is asking for my GitHub login, and then it tells me that same message that's in the screenshot above

[2021-11-08 20:05] sr320 commented on #1340
Use your PAT as your password

[2021-11-08 20:06] grace-ac commented on #1340
oooooh got it. it worked! thanks!

[2021-11-08 20:06] #1340 closed

[2021-11-08 22:44] grace-ac opened #1341 "any newer kits people like for RNA from cells?"
I'm going to order some extraction kits for getting RNA from sea star coloemocytes that are preserved in RNAlater in -80.

I'm thinking of sticking with the Zymo Quick DNA/RNA Microprep Plus Kit (link: [here](https://www.zymoresearch.com/products/quick-dna-rna-microprep-plus-kit)).

Before I order, curious if anyone has another kit that they think would work better? I'm assuming I'm making a good

[2021-11-08 23:47] sr320 commented on #1341
could always try diff kits methods we have, and see what works best.. though imagine it will be similar to crabs..

Note before we just used Tri-Reagent https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0133053#sec002

[2021-11-09 22:30] AHuffmyer commented on #1333
Deadline tomorrow!

[2021-11-10 19:07] ocattau opened #1343 "Data Science organization in R studio"
Here is an example of what my data from the larval geoduck sequencing looks like, I want to filter by est_counts (anything > 10) and then filter by protein name. The end goal is to annotate this table with candidate genes for gonad development. Is there a good program and/or visual representation of the data that would help me sort by important proteins? I can't manually go through all 1.5M genes

[2021-11-10 19:23] AHuffmyer commented on #1343
How are you determining which proteins are "important"?

[2021-11-10 19:24] AHuffmyer commented on #1343
So the way I am interpreting this is that you want to filter by est_counts > 10 and then sort by protein name alphabetically? Tidy can definitely do this!

[2021-11-10 19:31] ocattau commented on #1343
I suppose the larger the est_counts the more important it would be, but at the same time the #1 hit is Craniofacial development protein 2 (p97 bucentaur protein) which I am not sure is very helpful. But yes something like tidy to sort this data as much as possible.

[2021-11-10 19:36] mgavery commented on #1304
Towards getting single copy gene regions - GIles ran BUSCO (mollusca database)on the Roslin genome.  One of the outputs is the genomic locations of single copy genes.  I've attached the bed file of single copy regions (to use for normalization of copy number) as well as a short summary and the full table from bus
[single_copy_busco.mollusca.bed.txt](https://github.com/RobertsLab/resources/files/75

[2021-11-10 19:38] mgavery commented on #1304
We have a start then for the location of the mito, rRNA and single copy genes.  The next step would be to get ahold of a few WGS datasets for gigas, map to the genome + mito and take a look.  Is there small variation in the single copy regions? What does copy # look like for mito and ribo?

[2021-11-10 19:41] AHuffmyer commented on #1343
Cool, here is an example script you could play with. If there are more steps you would like to go through to sort/filter/name let me know!

df%>%
  filter(est_counts>10)%>% #filter by est_counts greater than 10
  arrange(desc(est_counts)) #arrange list by greatest to least for est_counts

[2021-11-10 19:41] sr320 commented on #1343
You need a bit more explanation of what an end product would look like..
Also post the url for the GitHub repo..

In `dpylr` you could `filter` by est_counts then

[2021-11-10 20:04] AHuffmyer commented on #1333
Submitted!

[2021-11-10 20:04] #1333 closed

[2021-11-10 21:12] ocattau commented on #1343
https://github.com/ocattau/code

[2021-11-10 21:28] sr320 commented on #1343
try a bit more organization, with `code`, `data`, and `analyses` directories. Readme file etc..
see https://sr320.github.io/course-fish274-2021/materials/project-structure/

[2021-11-10 21:38] ocattau commented on #1343
I am having issues with PAT right now but what I want to know if what is the next step? Do I manually go through all the different genes and look at their functions? Is there a program to do this?

[2021-11-10 21:46] sr320 commented on #1343
Step 1 (after organizing repo) - create a table of GO terms found and count of each..
That would be done in R / Tidyverse.

[2021-11-12 20:56] #1343 closed

[2021-11-16 00:37] zbengt commented on #1280
Sorry I spaced on this, finished! I think @ChrisMantegna just needs to add hers.

[2021-11-28 20:12] drlawson commented on #1308
@mattgeorgephd https://drlawson.github.io/Updated-Oyster-Pics-for-Matt/ here is my notebook entry containing important images, links to all the images I took, and the link to the staging sheet for the samples. Let me know what you think/if you need anything else from me :)

[2021-11-30 17:26] kubu4 commented on #1307
For posterity, copying Slack convo to here...

we can isolate RNA from most everything. Depends on if I should try to save some tissue for other things or use it all for RNA. Also, not sure on expected RNA yields for all of the different tissue types.
Also, a fair number of blood collected in RNAlater have cracked (they were overfilled before being frozen) and they will be particularly difficult t

[2021-11-30 22:45] sr320 commented on #1307
Lets plan on extracting 4
brain, liver and gonad samples. (do nothing with blood)

Does size of brain, liver and gonad samples suggest extracting whole samples or splitting?

[2021-12-01 15:08] sr320 commented on #1307
Likely RNA-seq and qPCR in future.
Let proceed how you have suggested.

[2021-12-01 15:59] #1341 closed

[2021-12-02 01:14] mattgeorgephd opened #1352 "RNA extraction for PSMFC-mytilus-byssus-pilot project"
The lab experiments for the PSMFC mussel project are finished and we are ready to start RNA extractions.

@kubu4 - Below are some background on the project and the RNA extraction sample list. Let's setup a meeting this week or early next to discuss.

Useful links:
1. PSMFC-mytilus-byssus-pilot [Github Repo](https://github.com/mattgeorgephd/PSMFC-mytilus-byssus-pilot)
2. Summary of progress so far

[2021-12-02 15:35] kubu4 commented on #1352
Can you provide more detail on RNA extractions? Specifically tissue preservation method (e.g. flash frozen, RNAlater, etc).

Also, the progress report suggests you collected multiple tissue types, but there aren't any tissues listed in that RNA extraction list. Please provide an explicit list of samples that need extracting (i.e. tube labels).

Does any tissue need to be saved or can/should all of

[2021-12-02 17:44] mattgeorgephd commented on #1308
@drlawson Thanks for your help on this! Your analysis and notebook entry were great!

We might have some more samples sectioned in the future - I'll keep you posted when/if we get samples back.

[2021-12-06 06:34] mattgeorgephd commented on #1352
@kubu4 All good points. I've updated the [RNA extraction sample list](https://docs.google.com/spreadsheets/d/1PDVSGuCGeYQr6Rdl6u5M4L5vcQS1EgUQl7UjvLYDlBg/edit#gid=1588435954) that includes tube IDs and locations.

As far as sampling went, a piece of the gill, a piece of mantle, and the entire foot from each mussel were flash frozen. Sample tubes were labeled with the mussel ID (e.g., G01) and the

[2021-12-06 13:21] kubu4 commented on #1352
Thanks for the additional info.

This is a bit of a concern to me. Unless the foot samples were stored flat and straight, I believe it will be very difficult to identify the different sections of foot without entirely thawing the samples and stretching them out to be able to inspect them; which is not good when it comes to RNA integrity/preservation.

Have you done this procedure before (isolating

[2021-12-06 15:07] mattgeorgephd commented on #1352
The goal with the foot extractions is to preferentially extract RNA from the "phenol gland" that is in the white area below the red line. In my experience, the foot will thaw in 1-3 mins out of the freezer, allowing for a quick cut and then homogenization + extraction.

I you want to start with the gill extractions first, we can work through a few foot extractions together when I get back from vac

[2021-12-06 15:56] kubu4 commented on #1352
This is my concern; not the ability to perform the actual dissections.

If thawing isn't a concern for you, then I'm good to go.

[2021-12-06 19:43] kubu4 commented on #1352
Related, do you know if we also have sufficient Qubit reagents for quantification?

[2021-12-06 19:48] mattgeorgephd commented on #1352
Good catch! I checked the draw and we are running low on tubes and RNA dye. I'll order some more.

[2021-12-08 13:14] kubu4 commented on #1352
Also, where are the pestle and pestle tubes stored for homogenization (they're not listed in inventory - at least as far as I can see)? We used to keep them stored on the shelves above the "RNA bench" back in the corner of FTR 209 (next to the biosafety cabinet/hood), but I feel like they got moved a few months ago during lab cleanup.

[2021-12-08 13:42] mattgeorgephd commented on #1352
Most of the RNA extraction supplies (1.7 ml tubes, 0.5 ml tubes, DEPC water, handheld automatic homogenizer - the last item might have wandered to 213 if Olivia has been using it) are in the biosafety hood in FTR 209. A glass beaker with used pestles that need to be autoclaved are in the chemical hood.

[2021-12-10 17:54] sr320 opened #1356 "Install SRA-toolkit on Raven"
I tried to do this but might have messed up...
First I used apt-get... worked but appeared to be older version without fasterq-dump. (I can successfully download but want fasterq-dump.)

Installed again current version in shared directory, however doing interactive set-up fails to make command happy.

https://d.pr/i/zv2S4M

[2021-12-10 18:01] sr320 commented on #1356
update - I ran
`sudo apt-get --purge remove sra-toolkit`

[2021-12-10 18:26] kubu4 commented on #1356
Okay, it's all working now. SRA ToolKit (`fastq-dump`) is here:

`/home/shared/sratoolkit.2.11.2-ubuntu64/bin/fastq-dump`

You can test command with this very small SRA file:

`/home/shared/sratoolkit.2.11.2-ubuntu64/bin/fastq-dump -X 2 SRR390728`

It will create the following file in your _current working directory_:

`SRR390728.fastq`

The only thing I really did was do set the database configur

[2021-12-10 18:26] #1356 closed

[2021-12-10 22:08] ocattau commented on #1241
Here is my latest output https://github.com/ocattau/ocattau.github.io/blob/master/_posts/2021-12-11-goslims.md

[2021-12-13 20:50] sr320 opened #1357 "Develop Template repos for projects"
Inspired by this thread
https://twitter.com/amit_goldenb/status/1469389363494670347?s=12

It would be nice to have template repos folks could fork and have things organized, with best practices embedded within.

[2021-12-13 20:51] sr320 opened #1358 "Clean up code repo"
as many things have been incorporated into handbook, it would be good to clean up
https://github.com/RobertsLab/code

That is, delete stale pages that are captured in handbook.

[2021-12-13 20:56] kubu4 commented on #1357
This is interesting and I like it.

[2021-12-13 20:56] sr320 commented on #1357
started at https://github.com/RobertsLab/project-template

[2021-12-13 20:59] kubu4 commented on #1358
Do you have any examples, or something that caught your eye? Off-hand, I don't feel like there's any real overlap in The Handbook and the `code` repo.  The Handbook is fairly limited in the amount/type of code examples/guides.

[2021-12-13 21:02] sr320 commented on #1358
this caught my eye https://github.com/RobertsLab/code/blob/master/blast.md

[2021-12-13 21:11] kubu4 commented on #1358
Ah! Well, definitely agree on getting rid of that, since it's empty. Definitely no need. Of course, there is no BLAST tutorial in The Handbook. This, then, gets into where should some of this end up? Does it make more sense to copy most of the code examples/.ipynbs to some location in The Handbook? Or, do we expect people to also remember that we have a dedicated `code` repo for that kind of stuff

[2021-12-13 21:19] sr320 commented on #1358
Bigger thing is folks should be going to handbook to look for code. Where it lives is not as much of issue as there will be links in handbook.

[2021-12-13 21:23] kubu4 commented on #1358
Yeah, that's part of what I was getting at. There's nothing currently in The Handbook that directs people to the `code` repo.

[2021-12-13 21:23] sr320 commented on #1358
except pages like https://robertslab.github.io/resources/bio-Annotation/
:)

[2021-12-13 21:25] kubu4 commented on #1358
True, but it's not obvious that we have an _entire repo_ which contains helpful code.

[2021-12-21 17:27] kubu4 commented on #1307
Isolated RNA from four individuals (2 in each "treatment" group):

| Sample | Tissue | Concentration (ng/uL) | Yield (ng) |
|--------|--------|-----------------------|------------|
| 2A     | brain  | 0                     | 0          |
| 2B     | liver  | 190                   | 9500       |
| 2C     | gonad  | 196                   | 9800       |
| 3A     | brain  | 0.602                 | 30.1

[2021-12-21 17:39] sr320 commented on #1307
You mean do a couple of additional brains in order to see if yield could be improved?

[2021-12-21 19:17] kubu4 commented on #1307
Yes, _and_ the corresponding liver/gonad for those other individuals. Wasn't sure how this project was set up, so was thinking gene expression wanted to be compared between tissues within an individual.

[2021-12-21 19:49] sr320 commented on #1307
It is more - within tissue- so just two more brains would be fine

[2022-01-12 17:28] sr320 opened #1360 "Create oyster FPKM table for ML"
Can you create a CSV table from Cv gene expression data where treatment and genes are columns?

eg  column headers

` sex | treatment | sample ID | gene001 | gene 001 ......`

[2022-01-12 21:30] grace-ac opened #1361 "address reviewer comments for oyster paper"
"Although not a hard deadline please try to submit your revision within the next 35 days." < -- early/mid Feb

[2022-01-13 17:49] sr320 commented on #1361
can you attach reviewer comments?

[2022-01-13 19:18] kubu4 commented on #1352
Alrighty, all high priority RNA isolations are complete.

Here's summary notebook post:

https://robertslab.github.io/sams-notebook/2022/01/13/Project-Summary-Matt-George-PSMFC-Mytilus-Byssus-Project.html

This Google Sheet has all the info:

https://docs.google.com/spreadsheets/d/1HizNOIfhSjppHDQrWLGiJhuDZKO8c-qm9JAz0Z5QIIQ/edit?usp=sharing

Finally, I've submitted a Pull Request to the project r

[2022-01-13 19:18] #1352 closed

[2022-01-13 21:00] kubu4 commented on #1360
Shouldn't machine learning be able to learn how to reorganize a CSV file? 😜

I'm working on this, but it'll take a bit...

[2022-01-18 18:22] sr320 opened #1362 "Download Cv Larval data and add to Nightingales"
Please grab larval data described at https://github.com/epigeneticstoocean/2018_L18_OAExp_Cvirginica_DNAm

[2022-01-18 18:33] kubu4 commented on #1362
That repo doesn't exist...

List of repos is here:

https://github.com/epigeneticstoocean/

Nothing jumps out to me as being a DNA methylation project.

[2022-01-18 18:34] kubu4 commented on #1362
Sorry, there are things that do jump out as DNA methylation, but not sure exactly what I'm looking for.

[2022-01-18 18:39] sr320 commented on #1362
Sorry - did not realize it was private .. brb

[2022-01-19 18:28] kubu4 opened #1363 "Decide on plan for increasing Owl (nightingales) storage"
Owl, which is primarily used for our sequencing data storage at this point, will be ~99% full after today. That leaves ~500GB.

We should make a decision on how to proceed. Here are some ideas:

- delete stuff (lots of stuff) from Owl to allow us to continue using `owl/nightingales`
- transfer all of nightingales to a new, larger storage location (this would likely require purchase of a new server

[2022-01-19 18:30] kubu4 opened #1364 "Fix Glacier backups on Owl"
Nightingale backups to Amazon Glacier are repeatedly failing. Please restore this functionality.

[2022-01-19 18:56] kubu4 commented on #1364
After looking into this, I'm fairly convinced that the logs reflecting that the backup task failed are due to the fact that there were no new files in nightingales to actually backup. Perusing the logs, Glacier backup tasks appear to have been successful when the system identifies new files to backup to Amazon Glacier. Time periods where there aren't new files are the only times when I see that ba

[2022-01-19 18:56] #1364 closed

[2022-01-19 19:04] sr320 commented on #1363
Is there a way to see current directory / space allocation on owl?

[2022-01-19 19:07] kubu4 commented on #1363
Running a storage analysis/report now. Will report back with results when complete.

[2022-01-20 14:04] kubu4 commented on #1362
Update:

All date available in the Lotterhos Lab GlobusConnect endpoint `2018OALarvae_DNAm_discovery/RAW/` has been transferred to https://owl.fish.washington.edu/nightingales/C_virginica/2018OALarvae_DNAm_discovery/

However, a cursory review of the data has revealed that there are three missing FastQs (I've confirmed that this was not an issue with the file transfer and have confirmed that these

[2022-01-20 14:19] yaaminiv opened #1365 "extend UW netID?"
@sr320 I got an email that my UW netID (yaaminiv) is expiring 2/2/22, which includes my Google Drive with drafts of publications I'm still working on and `mox` access. is it worth trying to extend access to my netID? I could always ping someone to run `mox` jobs, and can work on transferring permissions for any Google Doc materials.

[2022-01-20 14:21] sr320 commented on #1365
Yes - let's try to extend. Can you make that request or do I?

[2022-01-20 14:23] yaaminiv commented on #1365
I believe you need to do so. Let me see if I can find any protocol information

[2022-01-20 15:35] laurahspencer commented on #1365
Me too please!

[2022-01-20 16:47] ChrisMantegna opened #1366 "Requesting Mox Access"
Hello!
I am requesting Mox access, please. My NetID is cnmntgna. I'm tagging you both because I don't know who is most appropriate. Thanks!

[2022-01-20 17:07] kubu4 commented on #1366
Access granted! You should be all set!

[2022-01-20 17:07] #1366 closed

[2022-01-20 19:45] yaaminiv commented on #1365
@sr320 Here's information for provisioning access: https://itconnect.uw.edu/connect/productivity-platforms/provisioning-request-tool/

[2022-01-20 19:53] sr320 commented on #1365
issue is, when I try to provision you... you already have access and no way to extend

[2022-01-20 19:54] sr320 commented on #1365
I would certainly back everything up in any event.

[2022-01-20 20:18] laurahspencer commented on #1365
That seems very strange - just emailed the help desk to see what the options are

[2022-01-20 20:32] yaaminiv commented on #1365
I did as well, but will back everything up

[2022-01-20 20:46] kubu4 commented on #1365
Doesn't seem all that strange to me. You're no longer "paying customers", so no reason to provide you with any UW benefits any more.

I'd guess the most permanent way to create an "extension" would be for @sr320 to "hire" you. Then, you'd become employees of the university and would recover access to your various UW IT accounts.

[2022-01-20 21:15] yaaminiv commented on #1365
@sr320 Looks like you need to contact IT yourself!

<img width="900" alt="Screen Shot 2022-01-20 at 4 14 44 PM" src="https://user-images.githubusercontent.com/22335838/150423200-c36da7a6-0620-4dbb-a477-2a8b73488b9e.png">

[2022-01-21 14:50] kubu4 commented on #1363
Update: Storage analysis still running.

[2022-01-21 17:28] sr320 commented on #1365
I have provisioned Google services for Yaamini and Laura. You should be
getting email confirmation.

On Thu, Jan 20, 2022 at 1:16 PM Dr. Yaamini R. Venkataraman <
***@***.***> wrote:

[2022-01-21 17:37] yaaminiv commented on #1365
Got the confirmation and agreed to terms/conditions. Thanks!

[2022-01-21 18:20] grace-ac opened #1367 "Sea star cell extracted RNA: Nanodrop 260/230 almost zero... what to do next?"
I'm extracting RNA from sea star cells that are in 500 ul of RNAlater. On Wednesday I extracted RNA from two extra samples I have - E14 and E16. QUESTIONS AT BOTTOM OF THIS POST.

I'm using the Zymo Quick DNA/RNA Miniprep Kit (D7003)
( I meant to buy Microprep (D7005), but accidentally bought Miniprep. This means that my lowest elution volume is 50ul as opposed to 15ul for the Microprep kit. I can

[2022-01-21 18:32] kubu4 commented on #1367
I'll address a few things, including your two questions at the end:

You don't need to elute with 50uL. You can use smaller volume (and probably should). It's definitely safe to go down to at least 25uL. However, if you want to elute with less than that, I'd definitely go with the microprep kit, as the exposed area of the column resin is significantly smaller and is also not as deep, which allows

[2022-01-21 18:48] grace-ac commented on #1367
Thanks @kubu4 !

The person I was chatting with at Zymo said the lowest elution volume was 50ul, like the protocol says, but if 25ul would work, then I think that'd be fine for our samples!

The image posted is for the RNA purification step 2b. But was taken partway through the process.

For the RNAlater processing, I did do the volumes you indicated above, performed in a 15ml tube - total volume

[2022-01-21 19:38] kubu4 commented on #1367
The other thing I should have added to this is that you should pellet the cells and remove the RNAlater, if possible.

Also, how many cells are estimated to be in the samples? You may not be able to get much RNA...

Oh, finally, I wouldn't bother with the NanoDrop any more. The NanoDrop is very unreliable for samples with low concentrations (i.e. <10ng/uL) and will always have a skewed 260/230 rat

[2022-01-21 20:14] kubu4 commented on #1367
Here's a link to some RNA isolation I performed on sea star coelomic fluid. Might be helpful:

https://robertslab.github.io/sams-notebook/2014/04/16/rna-isolation-colleens-sea-star-coelomycetes-samples.html

[2022-01-22 04:54] laurahspencer commented on #1365
Me too, thanks!

[2022-01-22 17:00] #1365 closed

[2022-01-23 17:27] sr320 commented on #1363
as predicted here is current space hogs

![e](https://cdn-std.droplr.net/files/acc_524195/4hC65c)

and my personal drive details

![me](https://cdn-std.droplr.net/files/acc_524195/jbMrS8)

for posterity my list... (deleting about ~6TB now) https://d.pr/n/ZN3uG9

[2022-01-23 20:15] sr320 commented on #1363
The following directories can be deleted in `halfshell`
[code]

[2022-01-24 20:26] kubu4 opened #1369 "C.virginica OA/sex - determine number of expressed isoforms per gene per sample (possibly include pfkm)"
Part of this project: https://github.com/epigeneticstoocean/2018_L18-adult-methylation

EDITED: Post link to project.

[2022-01-24 21:31] grace-ac commented on #1367
Oh thank you!! I hadn't seen that post before - I didn't realize those cells were processed by you.

Since I have the zymo micro prep kit, I think I'll try that instead of the Trizol. I don't know how many cells are in my samples, do you have any suggestions on how much DNA/RNA Lysis buffer might be a good amount to try? The protocol says:

| Mammalian     | Add DNA/RNA Lysis Buffer |
|-----------

[2022-01-26 00:23] grace-ac commented on #1367
awesome. Worked fine! One sample had "TOO LOW"... but it's likely we don't have cells in all our samples.

Thanks so much for all of your help and suggestions @kubu4 !!!

[2022-01-26 00:23] #1367 closed

[2022-01-27 19:28] yaaminiv opened #1371 "Confirm reproducibility of Hawaii code"
Need to check the following scripts are easy-to-follow and reproducible:

- [methylKit](https://github.com/RobertsLab/project-oyster-oa/blob/master/code/Haws/04-methylKit.Rmd)
- [DSS](https://github.com/RobertsLab/project-oyster-oa/blob/master/code/Haws/04-DSS.Rmd)

Should also go back to raw data and check samples were correctly labelled/treatments were correctly inputted into code

[2022-01-27 19:42] kubu4 commented on #1369
File: https://github.com/epigeneticstoocean/2018_L18-adult-methylation/blob/main/analyses/transcript-counts_per-gene-per-sample.csv

R Markdown: https://github.com/epigeneticstoocean/2018_L18-adult-methylation/blob/main/code/transcript-counts.Rmd

[2022-01-27 19:42] #1369 closed

[2022-01-27 20:27] yaaminiv opened #1372 "Try WEKA for DML identification with Hawaii data"
Identify DML related to ploidy, pH, and potentially their interaction.

To try WEKA, you'll need the `methylKit` `unite` output. The output is in the following RData file: https://gannet.fish.washington.edu/spartina/project-oyster-oa/Haws/project-oyster-oa.RData

Should be able to write out the output after loading the RData.

[2022-01-28 15:42] AHuffmyer opened #1373 "Gfortran issue when installing packages in R v4.1.2"
When installing a couple packages, I am getting the following error in R v4.1.2:

`make: gfortran: No such file or directory`

It seems that either gfortran is not installed on my computer or that R can't find it. Has anyone had this issue with the most recent version of R? I'm having trouble finding a current solution for fixing the problem.

Thanks!

[2022-01-28 15:47] kubu4 commented on #1373
Are you on a Mac?

If yes, give this a read/shot:

https://www.cynkra.com/blog/2021-03-16-gfortran-macos/

[2022-01-28 15:47] kubu4 commented on #1373
If on Linux (assuming Ubuntu), you can install like so (via command line):

`sudo apt-get install gfortran`

[2022-01-28 15:49] AHuffmyer commented on #1373
Thanks Sam! I'm on a Mac - I couldn't find the Makevars file that the link referenced... But then I searched on YouTube and found this video: https://www.youtube.com/watch?v=piUnVKTUMGw. It shows how to download the gfortran installer from the GitHub release - it was way easier than I expected. Problem solved!

[2022-01-28 15:49] #1373 closed

[2022-01-28 15:50] kubu4 commented on #1373
In regards to the Makevars file, if you don't have one already present, you'd have to create it.

[2022-01-28 17:36] sr320 commented on #1372
Ok that was pretty cool, did not know about Rdata file.. I load in a lot of objects (https://d.pr/i/RyjvCZ)

is `union_1x` something close?

![union](http://gannet.fish.washington.edu/seashell/snaps/nb-2022__RStudio_Server_2022-01-28_09-35-04.png)

if so what are columns?

[2022-01-28 18:17] sr320 commented on #1372
omg I am learning so much in this issues!! I had no idea you could link to a specific line of code.

[2022-01-28 19:44] zbengt opened #1374 "Gannet Access"
Gannet user account needed. Pass along name of the folder and username/password. Thank you!

[2022-01-28 20:50] kubu4 commented on #1374
Done!

[2022-01-28 20:50] #1374 closed

[2022-01-30 18:49] sr320 opened #1375 "Identify lncRNAs in Cv RNA-seq data set"
Possible pipelines

https://www.sciencedirect.com/science/article/pii/S0145305X17300630

also

https://www.nature.com/articles/s41598-018-19950-6

[2022-01-31 20:28] kubu4 opened #1376 "Create C.virginica FPKM gene CoV"

[2022-02-01 17:24] sr320 opened #1377 "Log coral manuscript products"
Please take
papers list at https://e5coral.org/publications
and enter into this [spreadsheet](https://docs.google.com/spreadsheets/d/1LqzTvVUav81qi3A2gkLxcHBNl-g-RM6X2-I4L7MpitQ/edit#gid=0)

(all cells will not be populated)

[2022-02-01 18:50] mattgeorgephd opened #1378 "Computer in FTR 209 (woodpecker) disk full"
Hey Sam - The C drive on woodpecker is getting pretty full. I emptied the trash and bought us some time, but it will probably need to be addressed soon.

[2022-02-01 18:57] sr320 commented on #1378
Just curious, what are you using woodpecker for?

[2022-02-01 23:19] kubu4 commented on #1378
Thanks for the heads up. What constitutes "pretty full" and is it impacting what you need to use it for?

[2022-02-01 23:24] mattgeorgephd commented on #1378
It was at 100 mb this morning, running slow. After emptying trash we are at 2 GB. I didn't want to delete anyone's data, so I figured I would just give you a heads up.

[2022-02-03 18:13] grace-ac opened #1384 "sea star RNA extractions - too low yields for most samples"
I've extracted 24 samples so far, and only 5 have detectable RNA when I run 2ul of sample on Qubit using RNA HS kit.

Here's what I've been doing:
Samples:   sea star coelomocytes in 500ul RNAlater, kept at -80C

1. centrifuge at 5,000g for 20 mins to pellet cells, discard supernatant, and then resuspend (pipet to mix and vortex) cells in 600ul DNA/RNA Lysis Buffer
2. Follow protocol for extractin

[2022-02-03 21:50] sr320 opened #1385 "Install newest release of Bismark on mox"
https://github.com/FelixKrueger/Bismark/releases

[2022-02-03 21:56] kubu4 commented on #1385
Can be found here:

`/gscratch/srlab/programs/Bismark-0.23.1`

[2022-02-03 21:56] #1385 closed

[2022-02-03 23:13] #1071 closed

[2022-02-03 23:13] #1074 closed

[2022-02-03 23:13] #1075 closed

[2022-02-03 23:14] #1088 closed

[2022-02-03 23:14] #1118 closed

[2022-02-03 23:15] #1126 closed

[2022-02-03 23:16] #1160 closed

[2022-02-03 23:16] #1283 closed

[2022-02-03 23:17] #1270 closed

[2022-02-03 23:17] #1269 closed

[2022-02-03 23:18] #1257 closed

[2022-02-04 00:28] yaaminiv opened #1386 "C. virginica genes with multiple DML"
@sr320 Is there a way to output a list of genes with multiple DML, and which feature (exon/intron) they're in? Thinking of ways we can test the hypothesis that high methylation in exons and introns acts antagonistically and wouldn't lead to high levels of expression.

[2022-02-04 00:41] sr320 commented on #1386
Good idea. Short answer is yes. Just a matter of how many iterations of intersectbed it would take.

[2022-02-04 20:10] kubu4 commented on #1376
Done! Yes!

Three files:

https://github.com/epigeneticstoocean/2018_L18-adult-methylation/blob/main/analyses/genes_control.vs.exposed_fpkm_CoV_df.csv

https://github.com/epigeneticstoocean/2018_L18-adult-methylation/blob/main/analyses/genes_female.vs.male_fpkm_CoV_df.csv

https://github.com/epigeneticstoocean/2018_L18-adult-methylation/blob/main/analyses/genes_treatment_fpkm_CoV_df.csv

Note: Dow

[2022-02-04 20:10] #1376 closed

[2022-02-04 20:39] grace-ac commented on #1384
will order columns for micro prep and try those.

[2022-02-04 20:39] #1384 closed

[2022-02-04 21:49] sr320 commented on #1386
Do you have a specific DML file you are interested in ?

[2022-02-04 23:14] grace-ac commented on #1361
Google Doc with reviewer comments : https://docs.google.com/document/d/1EEtqDcnw_GaNPg1kymhtE9FNQIWaT191nxMqSrn_VYQ/edit?usp=sharing

[2022-02-05 22:42] sr320 opened #1387 "Update SRA toolkit on mox"

[2022-02-06 18:03] kubu4 commented on #1387
New version here:

`/gscratch/srlab/programs/sratoolkit.2.11.3-centos_linux64/bin`

[2022-02-06 18:03] #1387 closed

[2022-02-07 19:04] yaaminiv commented on #1386
How about male OA DML and female OA DML?

[2022-02-07 22:29] sr320 opened #1390 "Install multiQC on raven"

[2022-02-07 23:32] kubu4 commented on #1390
This will need to be installed on an individual basis, as it utilizes `conda` to install. This also allows you to keep it in an dedicated environment when you want to use it, which helps avoid dependency conflicts that can get introduced when installing other `conda` packages.

[2022-02-07 23:35] sr320 commented on #1390
I tried this in shared directory - without any luck (and github means to install)

[2022-02-07 23:36] kubu4 commented on #1390
I've downloaded it and it can be found here:

`/home/shared/MultiQC.v1.12.dev0`

So, `cd` to that directory, and then follow the instructions for installation here:

https://github.com/ewels/MultiQC#installation

[2022-02-07 23:36] kubu4 commented on #1390
What do you mean by this? Error message? Nothing happened at all?

[2022-02-07 23:37] sr320 commented on #1390
`conda: command not found`

[2022-02-07 23:38] sr320 commented on #1390
and with Github

[code]

[2022-02-07 23:41] kubu4 commented on #1390
Looks like you need to install Anaconda. Universal install is a bit annoying to configure and I'm also not sure how the base environment functions across all users. Has potential to be headache if everyone ends up using the same base conda install and is modfiying it any time they want a new package. Or, is a headache if they need to ask me to install any time they need a new package.

[2022-02-08 00:02] sr320 commented on #1390
Seems like Github install would be simplest - surprised that did not work.

[2022-02-08 00:05] AHuffmyer opened #1391 "Access to Mox for A. Huffmyer"
If possible, I'd like to get access to using Mox. Let me know what information is needed!

Ariana

[2022-02-08 00:08] AHuffmyer opened #1392 "Set up account/access to Raven for A. Huffmyer (for RStudio use)"

[2022-02-08 00:12] kubu4 commented on #1390
Seems like it, but you have too have Python configured correctly on your user account. So, installing (and using Anaconda) ends up being easiest. It gets Python set up in a way that most users can start using right away without any other configuration.

[2022-02-08 00:48] kubu4 commented on #1391
Do you have a UW Net ID? If yes, please post.

If not, @sr320 do you know how to obtain a UW Net ID so we can get her access to Mox?

[2022-02-08 00:49] AHuffmyer commented on #1391
UW Net ID: ashuff@uw.edu

[2022-02-08 00:50] AHuffmyer commented on #1391
If I can't get access thats ok - it would just be handy for our work with the Science Incubator folks when we get to the data analysis stage.

[2022-02-08 00:50] AHuffmyer commented on #1392
UW Net ID: ashuff@uw.edu

[2022-02-08 00:56] kubu4 commented on #1391
Done. If you haven't already, read-through The Handbook on Mox:

https://robertslab.github.io/resources/mox_Adding-a-User/

[2022-02-08 00:56] #1391 closed

[2022-02-08 01:00] kubu4 commented on #1392
Done. See Slack for U/P.

RStudio Server can be accessed here: http://172.25.149.12:8787/

Note: You'll need to be running Husky OnNet to access.

[2022-02-08 01:00] #1392 closed

[2022-02-08 01:07] AHuffmyer commented on #1391
Thank you!!

[2022-02-08 01:08] AHuffmyer commented on #1392
Thank you Sam!

[2022-02-08 05:10] sr320 opened #1393 "Instruction for ceabigr raven users"
Should we provide instructions -  particularly  what drive to use?

[2022-02-08 14:01] kubu4 commented on #1393
One issue I just realized is that users will need to user Husky OnNet in order to access Raven. Not sure how this works with Non-UW personnel.

I'll send email to UW-IT with inquiry about this.

[2022-02-08 14:45] kubu4 commented on #1393
I will create new user home directories on 8TB HDD.

I have created some instructions on accessing RStudio Server:

https://github.com/sr320/ceabigr/wiki/RStudio-Server-Instructions

Will post in CEABIGR Slack.

[2022-02-08 14:45] #1393 closed

[2022-02-08 23:12] sr320 commented on #1390
resigned to use different computer

[2022-02-08 23:12] #1390 closed

[2022-02-08 23:14] sr320 commented on #1377
you think you can tackle this before TUESDAY 15th?

[2022-02-08 23:15] #1363 closed

[2022-02-08 23:16] sr320 commented on #1362
any update?

[2022-02-08 23:18] #1307 closed

[2022-02-08 23:19] #1303 closed

[2022-02-08 23:20] kubu4 commented on #1362
Nope.

[2022-02-08 23:21] sr320 commented on #1375
see also https://github.com/RobertsLab/resources/issues/1302#issuecomment-931565411

[2022-02-08 23:21] #1284 closed

[2022-02-08 23:22] #1280 closed

[2022-02-08 23:23] #1251 closed

[2022-02-09 00:02] drlawson commented on #1377
Definitely!!! I’ll comment here when it’s finished :) will work on it tomorrow and Thursday to get it done

[2022-02-09 18:04] sr320 opened #1394 "Fully understand C/T SNP results"
Can we confirm how the program is calling C/T snps.

### Discussed in https://github.com/RobertsLab/resources/discussions/1389

<div type='discussions-op-text'>

<sup>Originally posted by **yaaminiv** February  7, 2022</sup>
@sr320 Here's an IGV file with unique C/T SNPs and BAM files for all samples: https://github.com/RobertsLab/project-gigas-oa-meth/blob/master/output/07-BS-Snper/BS-Snper.xml

[2022-02-09 18:17] sr320 commented on #1394
A few pics of unique CT SNPs - free to edit and try to explain SNP versus methylation.

![Screenshot of Safari (2-9-22, 10-13-54 AM)](https://user-images.githubusercontent.com/4442039/153263901-3b3059aa-54de-4089-80cf-36c2128f8771.png)

[2022-02-09 18:20] sr320 commented on #1394
![Screenshot of IGV (2-9-22, 10-20-16 AM)](https://user-images.githubusercontent.com/4442039/153264880-7a8f07a7-674f-434a-8281-6e555d311ef8.png)

[2022-02-09 18:21] sr320 commented on #1394
![Screenshot of IGV (2-9-22, 10-21-49 AM)](https://user-images.githubusercontent.com/4442039/153265121-4b2892d4-da9a-4192-bddc-5ecc29e6cb10.png)

[2022-02-09 18:29] sr320 opened #1395 "Get fluorescent scope ready and prepared for samples"
Make sure  understand fully how it operates and has image capture system in place.  Take some test images.

[2022-02-09 18:33] sr320 commented on #1394
see also https://github.com/FelixKrueger/Bismark/issues/377

[2022-02-09 18:35] sr320 commented on #1394
see also https://github.com/FelixKrueger/Bismark/issues/377#issuecomment-702017208

[2022-02-13 19:00] drlawson commented on #1377
all done - I am surprised that there was not code available for the Wond & Eirin-Lopez (2021) paper, I wonder if I am just missing it somewhere. I checked in a bunch of difference places throughout the paper and did not find it. Also, Cheema et al. 2020 and Lugo Charriez et al. 2020 seem to provide access to some data, but are missing other important data. Let me know what you think and if you thi

[2022-02-15 20:47] kubu4 commented on #1375
Well, after discussion at lab meeting today, it looks like this has already been done!

![image](https://user-images.githubusercontent.com/4514104/154145050-fb4442ba-ae16-4131-a112-efaf378d625f.png)

Sorry for not thinking of this earlier. I made the assumption that someone had looked at this already, since you provided the papers describing different approaches to IDing lncRNAs.

I'll work on get

[2022-02-17 19:10] kubu4 commented on #1375
@sr320 Quick question on what you'd like from this.

tl;dr - easy to get gene level info, but challenging to get exon level info. Do you want exon level info, too?

---

NCBI provides a [features table file](https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/002/022/765/GCF_002022765.2_C_virginica-3.0/GCF_002022765.2_C_virginica-3.0_feature_table.txt.gz) (gzipped text file) that looks like this:

[code]

[2022-02-17 21:19] kubu4 commented on #1375
Guess I'm tired today. Have this easily figured out for exon retrieval. You can ignore my previous post. Sorry!

[2022-02-18 13:08] kubu4 commented on #1375
- [GCF_002022765.2_C_virginica-3.0_lncRNA.bed](https://gannet.fish.washington.edu/Atumefaciens/20220217-cvir-lncRNA_subsetting/GCF_002022765.2_C_virginica-3.0_lncRNA.bed) (652K)

  - MD5: `db0047b39b04bdb8d25dd35005117513`

- [GCF_002022765.2_C_virginica-3.0_lncRNA.fa](https://gannet.fish.washington.edu/Atumefaciens/20220217-cvir-lncRNA_subsetting/GCF_002022765.2_C_virginica-3.0_lncRNA.fa) (5.5M)

[2022-02-18 14:21] kubu4 commented on #1375
Re-opened (and deleted previous post with links to files). Comparing output files with different approach to make sure they're correct. Sorry for the tease!

[2022-02-18 15:16] kubu4 commented on #1375
Corrected files:

- [GCF_002022765.2_C_virginica-3.0_lncRNA.bed](https://gannet.fish.washington.edu/Atumefaciens/20220217-cvir-lncRNA_subsetting/GCF_002022765.2_C_virginica-3.0_lncRNA.bed) (640K)

  - MD5: `28de37c9ee1308ac1175397d16b3aafe`

- [GCF_002022765.2_C_virginica-3.0_lncRNA.fa](https://gannet.fish.washington.edu/Atumefaciens/20220217-cvir-lncRNA_subsetting/GCF_002022765.2_C_virginica-3.0_

[2022-02-18 15:16] #1375 closed

[2022-02-18 19:07] ChrisMantegna opened #1403 "posting images"
![image](https://gannet.fish.washington.edu/seashell/snaps/zoom_floating_video_window_2022-02-18_11-03-27.png)

[2022-02-18 19:08] #1403 closed

[2022-02-18 22:01] #1395 closed

[2022-02-21 02:43] sr320 opened #1404 "Review proofs / generate hi quality images for crab paper"
https://d.pr/f/8O1Y3l

[2022-02-21 09:04] mattgeorgephd opened #1405 "Add tagseq data to nightingales"
Tagseq data from the NOPP-gigas-ploidy-temp project

Here is the link to the files on gannet:

https://gannet.fish.washington.edu/panopea/NOPP-gigas-ploidy-temp/022022-tagseq/

Here is the github repo:

https://github.com/mattgeorgephd/NOPP-gigas-ploidy-temp

[2022-02-22 14:53] kubu4 commented on #1405
Thanks!

Alrighty, I've `rsync'd` data to https://owl.fish.washington.edu/nightingales/C_gigas. When you have a chance, please add all pertinent info to [nightingales spreadsheet](https://docs.google.com/spreadsheets/d/1_XqIOPVHSBVGscnjzDSWUeRL7HUHXfaHxVzec-I-8Xk/edit?usp=sharing) (I recently sent you edit access).

Since this is single-end sequencing data, please create a single row for each Fast

[2022-02-22 14:53] #1405 closed

[2022-02-22 22:12] sr320 opened #1408 "Scaffold size distribution for Oly genome"

[2022-02-22 22:37] sr320 commented on #1408
done about 159k less than 50k in size

[2022-02-22 22:37] #1408 closed

[2022-02-24 21:31] grace-ac commented on #1404
AQ2 --> ADF&G is referenced in sentence 4 of the Introduction

For hi quality images -->

### Fig 1:
[allterms.GOslim-pie-transcriptome-v3.1.pdf](https://github.com/RobertsLab/resources/files/8136491/allterms.GOslim-pie-transcriptome-v3.1.pdf)

Link to GitHub repo location of pdf: https://github.com/RobertsLab/paper-tanner-crab/blob/master/analyses/BLAST-to-GOslim/allterms.GOslim-pie-transcriptome

[2022-02-25 14:17] #1394 closed

[2022-02-25 14:18] #1377 closed

[2022-02-25 20:07] grace-ac commented on #1404
Fig 3 is kind of fixed.
[individual-crab-over-time.pdf](https://github.com/RobertsLab/resources/files/8144287/individual-crab-over-time.pdf)

[2022-02-25 20:19] sr320 commented on #1404
Fig 3 - make bars narrower

[2022-02-25 20:54] grace-ac commented on #1404
Fig 1:
[fig1.pdf](https://github.com/RobertsLab/resources/files/8144781/fig1.pdf)

Fig 2
[fig2.pdf](https://github.com/RobertsLab/resources/files/8144782/fig2.pdf)

Fig 3
[fig3.pdf](https://github.com/RobertsLab/resources/files/8144783/fig3.pdf)

[2022-02-27 15:43] sr320 opened #1410 "Extract RNA from Salmon samples"

[2022-03-01 17:09] sr320 opened #1411 "Convert P generosa gff to gtf"
https://gannet.fish.washington.edu/Atumefaciens/20190928_Pgenerosa_v074.a4_gensas_annotation/Panopea-generosa-vv0.74.a4-merged-2019-10-07-4-46-46.gff3

needs to be gtf in accordance with Cell Ranger software

https://support.10xgenomics.com/single-cell-gene-expression/software/pipelines/latest/using/tutorial_mr

[2022-03-01 18:12] grace-ac opened #1412 "how to send samples for RNA seq"
I have finished extracting RNA from sea star samples and RNA is in ~60 samples, though not all likely have enough - have to look more into that. In proposal we said we'd spend ~$7,000 for 32 libraries for prep and seq.

We have a person at FHL that does all the ordering for us and it just now occurred to me that sending off for seq would be included in that.

**she leaves for vacation tomorrow thr

[2022-03-01 19:29] kubu4 commented on #1411
GTF is here:

https://gannet.fish.washington.edu/Atumefaciens/20220301-pgen-gff_to_gtf/Panopea-generosa-vv0.74.a4-merged-2019-10-07-4-46-46.gtf

Notebook:

https://robertslab.github.io/sams-notebook/2022/03/01/Data-Wrangling-P.generosa-Genome-GFF-Conversion-to-GTF-Using-gffread.html

Obviously, let me know if it doesn't work for some reason.

[2022-03-01 19:42] kubu4 commented on #1412
I'll admit, I'm a little confused on what information you're asking for here.

Won't the timing all depend on how quickly Genewiz responds?

Is there not anyone designated to place orders while that person is out? That's a remarkably long time to _not_ have the ability to place orders.

[2022-03-01 20:00] grace-ac commented on #1412
Yeah... I'm frazzled! Her leaving tomorrow snuck up on me

That's a great question! I'll ask that now, which may solve this whole issue.

My main question is if I have to pause this whole Genewiz process til after she gets back, but I'll find out first is someone will be there to replace her.

[2022-03-01 20:03] grace-ac commented on #1412
In order to get a quote, I would need access to the sea star budget stuff, right?

[2022-03-01 20:17] grace-ac commented on #1412
ok, everything's fine. She's able to get a quote now, so we'll see what happens. Thanks for responding, @kubu4 ! I was stressed. closing issue now.

[2022-03-01 20:17] #1412 closed

[2022-03-02 14:42] sr320 opened #1414 "Update "People" section of website"
Please update
https://github.com/RobertsLab/website/blob/master/People.md

[2022-03-02 17:55] ocattau opened #1415 "Pipette Tip Inventory"
For the Finnpipette Multi-Channel the range is 50-300uL, so we have to use the 200uL as it is the only pipette tip that fits. My volume I need to pipette into every sample for the BSA assay is 250uL, so I need either 250uL or 300uL pipette tips. We don't have a larger multi-channel in lab. This is why I ordered https://www.usascientific.com/tipone-refills/p/tipone-refills I could also use 2x125uL

[2022-03-02 18:06] kubu4 commented on #1415
I don't have any recommendations. Usually just go with cheapest filtered tips possible. We've been using USA Scientific because they offer the refill packs for filtered tips, which helps reduce plastic usage. But, you're free to order whatever will work for you.

[2022-03-02 18:16] kubu4 commented on #1415
I glanced at the assay manual (I'm assuming you're using the Bio-Rad Quick Start Bradford Protein Assay) and an alternative is to add the 1x Dye Reagent to the plate _before_ adding the standards/samples. This way, you wouldn't have to change tips _at all_. You'd only have to a single set of 8 (or 12?) tips on a multi-channel to load the entire plate.

After you've loaded the 1x Dye Reagent, then

[2022-03-02 18:22] ocattau commented on #1415
Thats a good point Sam, in that case I would load the 250uL first then use the 10uL for each well.

[2022-03-02 18:27] ocattau commented on #1415
Just spoke to a USAscientific rep and they are out of ALL pipette tips...wild https://www.usascientific.com/tipone-refills/p/tipone-refills

[2022-03-02 18:50] kubu4 commented on #1415
This is getting a bit off-topic, but I noticed this:

If you're maintaining the recommended ratio of dye:sample listed in the manual (50:1), then shouldn't your dye volume be changed to 500uL? Also, have you made the same change to the standards ratio (i.e. 10uL of standards to each well)? I think the latter is the bigger concern, rather than the overall dye:sample/standard ratio (although, I'd pr

[2022-03-03 17:07] ChrisMantegna commented on #1414
Done!

[2022-03-03 17:41] sr320 commented on #1161
@kubu4 do you have an invoice for what they did - specifically around

[2022-03-03 17:58] kubu4 commented on #1161
Invoice: [97892bcb-1674-4be1-aa57-5b1f98eeff33.pdf](https://github.com/RobertsLab/resources/files/8179952/97892bcb-1674-4be1-aa57-5b1f98eeff33.pdf)

[2022-03-03 18:00] kubu4 commented on #1161
The cost for each filter was $825 (not including shipping).

[2022-03-03 20:09] mattgeorgephd commented on #1308
Hey @drlawson! We have received a second batch of histology slides (n=37) for analysis if you are up for it. The samples are oyster gonad, in the same orientation as the previous set.

Here is a picture and slide diagram. I will leave them in FTR 209 on the shelving in the back, right-hand corner.

![picture](https://github.com/mattgeorgephd/NOPP-gigas-ploidy-temp/blob/main/202107_EXP2/histology/2

[2022-03-03 23:10] sr320 opened #1420 "Issue with notebook backups"
https://gannet.fish.washington.edu/github_backups/notebooks/

[2022-03-03 23:21] kubu4 commented on #1420
What's the concern here?

All files are present (e.g. Aidan's notebook):

![image](https://user-images.githubusercontent.com/4514104/156669347-36c16e40-883a-4522-8521-8daa330f6992.png)

If you want to peruse files via that URL (e.g. https://gannet.fish.washington.edu/github_backups/notebooks/afcoyle.github.io/), you won't be able to because each notebook contains an `index.html` file which web bro

[2022-03-03 23:26] sr320 commented on #1420
Yep related to link in handbook that does not really provide anything  eg https://d.pr/i/ORWl9O

Probably best to provide path on gannet instead of url

[2022-03-04 07:13] drlawson commented on #1308
awesome! I'll swing by to pick these up friday or saturday :) do either of you @mattgeorgephd @sr320 know if the microscope I was using before is available for me to also take home? If not I'll write about it in the slack real quick. thanks!

[2022-03-04 13:37] kubu4 commented on #1420
I've made the notebook directories browsable via URL. You may have to refresh the page if you still see the attempted rendered version.

I did this by adding a `.htaccess` file to `github_backups/notebooks/` with the following content:

[code]

This tells the server that it should look for a directory index file called `index-of.html`. If this file is _not_ found, then the index of the directory c

[2022-03-04 13:37] #1420 closed

[2022-03-07 03:16] drlawson commented on #1308
@mattgeorgephd just picked up the boxes and microscope - I left the box with the old samples in the lab :) I’ll start working on this this week!

[2022-03-07 21:23] sr320 opened #1422 "Install Circos on raven"

[2022-03-07 22:58] sr320 opened #1423 "Obtain relative expression values for geoduck tissues"
Using geoduck genome get expression values for
heart, gonad, ctenedia, juvenlies and larvae samples...

file locations..

Heart
[code]

Gonad
[code]

ctendia
[code]

juvenile (amb)
[code]

juvenile (sl)
[code]

larvae
[code]

[2022-03-08 16:54] sr320 opened #1424 "Add link to lab notebook"
Create and add link to lab notebook at https://robertslab.github.io/resources/Lab-Notebooks/

[2022-03-08 23:09] #1422 closed

[2022-03-09 18:42] sr320 opened #1428 "Establish pipelines and annotation resources for Acropora pulchra"
1) Run RNA-seq analysis with public data (NCBI)
2) Evaluate lncRNA expression in public data
3) Compile annotation resources

[2022-03-09 22:24] sr320 opened #1429 "Get a fasta file of lncRNA in Crassostrea virginica"
Using bedtools getfasta, and Cv GTF file.

[2022-03-09 22:35] sr320 opened #1430 "Generate simple circos plot of Geoduck genome"
Similar in nature to https://github.com/RobertsLab/resources/issues/772#issuecomment-551187977

using Circos (installed on Raven)

[2022-03-09 23:23] larkenr commented on #1424
Link added

[2022-03-09 23:23] #1424 closed

[2022-03-10 02:52] larkenr commented on #1414
I have added myself

[2022-03-10 02:52] #1414 closed

[2022-03-10 19:38] ocattau commented on #1430
@kubu4  can you give an example of the code you used to generate your test figures?

[2022-03-10 19:47] kubu4 commented on #1430
Definitely use these tutorials - they're very thorough and kind of walk you through the general process:

http://www.circos.ca/documentation/tutorials/

The code I used:

`/home/shared/circos-0.69-9/bin/circos`

It's, in essence, that simple.

However, unseen is that it's actually using this file to create the figure:

`/home/shared/circos-0.69-9/circos.conf`

Here's what that file looks like (whi

[2022-03-10 19:53] kubu4 commented on #1430
Oh! Sorry! Just looked at the linked issue and had forgotten that I actually produced some stuff for the geoduck genome previously!

Hold on, let me find the repo that code is in...

[2022-03-11 18:47] mattgeorgephd opened #1431 "Raven setup"
Create login for raven. Forward remote login for R Studio interface.

[2022-03-11 20:04] kubu4 commented on #1431
Done. Info sent via Slack.

[2022-03-11 20:04] #1431 closed

[2022-03-14 14:01] kubu4 opened #1432 "R Plotting on Raven broken"
All basic plotting appears to be broken on Raven. Possibly related to Circos install (which modified Freetype libraries).

[2022-03-14 17:06] ChrisMantegna commented on #1432
Sure can - it's here: https://github.com/sr320/nb-2022/tree/main/C_virginica

[2022-03-14 17:44] kubu4 commented on #1432
Hmm, I ran it without any errors:

![image](https://user-images.githubusercontent.com/4514104/158230358-ddf8188c-61b9-4bf0-bee6-a3bfff2ff484.png)

Maybe close your project and restart your session and see if that helps.

[2022-03-15 17:39] mattgeorgephd commented on #1308
@drlawson I've added you as a collaborator on the NOPP-gigas-ploidy-temp repo. Please work within the [histology folder](https://github.com/mattgeorgephd/NOPP-gigas-ploidy-temp/tree/main/202107_EXP2/histology).

[2022-03-16 20:16] ocattau commented on #1430
Continuing this tread:

Here is my .sh file to build the circos.conf file. The script will run forever on Raven without resolving when I run
[code]

karyotype.sh
[code]

[2022-03-16 20:18] kubu4 commented on #1430
The problem is that you're using the FastA file instead of the FastA _index_ file. FastA index file generally ends with `.fai`. For example, I'd expect the FastA index file to be this:

`Panopea-generosa-v1.0.fa.fai`

[2022-03-16 20:31] kubu4 commented on #1430
Sorry, just realized it's not in the Handbook! Updating that momentarily!

You can grab it from here:

https://gannet.fish.washington.edu/Atumefaciens/20191105_swoose_pgen_v074_renaming/Panopea-generosa-v1.0.fa.fai

Or, if you're so inclined, you can generate one yourself very quickly (it'll finish almost instantaeously):

[code]

[2022-03-16 21:30] kubu4 commented on #1423
There are 26 FastQs listed above, but there are 34 FastQs in `/home/shared/8TB_HDD_01/sr320/ncbi/`.

Should I only work with the 26 listed above?

[2022-03-16 21:37] sr320 commented on #1423
Yes, just the ones listed, and note at then end we are just want to compare the 6 samples....

(also, there are 28 above?)

[2022-03-16 21:38] kubu4 commented on #1423
Thanks.

Yep, 28; sorry about that.

[2022-03-18 16:50] sr320 opened #1434 "Identify lncRNAs in Geoduck Genome"

[2022-03-18 17:13] sr320 opened #1435 "Revise Geoduck Genome Feature Tracks"
Given the renaming - https://robertslab.github.io/sams-notebook/2019/11/05/Data-Wrangling-Rename-Pgenerosa_v074-Files-and-Scaffolds.html

The genome feature tracks do not "align" with genome. In otherwords cannot use bedtools etc.
https://robertslab.github.io/resources/Genomic-Resources/#panopea-generosa

Presume it might just be a `sed`

[2022-03-18 17:46] kubu4 commented on #1432
Confirmed with @ChrisMantegna at Science Hour today that things are working.

[2022-03-18 17:46] #1432 closed

[2022-03-18 18:05] #1163 closed

[2022-03-18 18:09] #1175 closed

[2022-03-18 18:09] #1207 closed

[2022-03-18 18:09] #1290 closed

[2022-03-18 18:10] #1252 closed

[2022-03-18 18:13] #1288 closed

[2022-03-18 18:13] #1287 closed

[2022-03-18 22:49] kubu4 commented on #1435
When you have a sec, can you please provide an example of code/error(s)?

Looking at renaming notebook, `sed` command is only utilizing lists of scaffold names (old and new), so wouldn't have any impacts on coordinates.

[2022-03-18 22:53] sr320 commented on #1435
The genome scaffold names were revised but genome feature tracks scaffold names were not.. they need revising.

[2022-03-18 23:00] kubu4 commented on #1435
Ah! Gotcha!

The issue is that the links on the Handbook weren't updated with renamed files. Will update shortly...

[2022-03-18 23:21] kubu4 commented on #1435
I've just updated GFF subset files URLs (and added a bunch of additional ones).

However, it looks like I never updated the scaffold names in the all-encompassing GFF. I'll get that resolved a bit later tonight. Will post here when complete.

[2022-03-19 15:32] kubu4 commented on #1435
Lab Handbook has been updated with correct URLs for all GFFs.

[2022-03-19 15:32] #1435 closed

[2022-03-21 14:57] kubu4 commented on #1415
Tips have been ordered.

[2022-03-21 14:57] #1415 closed

[2022-03-22 00:03] mattgeorgephd opened #1437 "Add shell packages to Raven"
I need the following shell packages added to Raven:

[HISAT2](http://daehwankimlab.github.io/hisat2/)
[StringTie 2](https://ccb.jhu.edu/software/stringtie/)

[2022-03-22 00:10] kubu4 commented on #1437
Hisat2: `/home/shared/hisat2-2.2.1/hisat2`

Stringtie: `/home/shared/stringtie-2.2.1.Linux_x86_64/stringtie`

[2022-03-22 00:10] #1437 closed

[2022-03-24 04:31] sr320 opened #1439 "Generate geoduck gene fasta"
Based on geoduck genome, create fasta files that reflect mRNA, gene, CDS that have a meaningful header. A header that can be used to find annotation by joining with other tables.

[2022-03-24 04:37] kubu4 commented on #1439
Join FastA description lines with other tables? I'm not sure I fully understand. If you have a sec can you please provide an example? It will help me picture what you're thinking a bit better.

[2022-03-24 04:44] sr320 commented on #1439
Need a fasta file of geoduck mRNA.

ATGATGCTAACGTAGTACGATCGCTAGTACGTAGC

On Wed, Mar 23, 2022 at 9:37 PM kubu4 ***@***.***> wrote:

--

Steven B. Roberts, Associate Professor Associate Director - Graduate
Program Coordinator School of Aquatic and Fishery Sciences University of
Washington Fisheries Teaching and Research (FTR) Building - Office 232 1140
NE Boat Street - Seattle, WA 98105 robertslab.

[2022-03-24 04:48] kubu4 commented on #1439
Gotcha! Thanks! Are there existing tables with IDs I need to match? Or, will tables be generated from created FastAs?

[2022-03-24 14:52] kubu4 commented on #1439
This is what I'm currently thinking, but would like some feedback.

All genes have an unique ID. E.g. `ID=PGEN_.00g000050`

All related features (i.e. mRNA, CDS, etc) have a field which references the gene ID. E.g. `Parent=PGEN_.00g000050`.

Would something like this work?

Also, do you have a preferred field separator for FastA descriptions?

E.g. for mRNA FastA:

`>ID=PGEN_.00g000050.m01;Parent=

[2022-03-24 15:03] sr320 commented on #1439
What does your annotation of the geoduck genome look like with respect to genes?

[2022-03-24 15:04] sr320 commented on #1439
Either suggestion for header is fine.

[2022-03-24 15:28] kubu4 commented on #1439
For a fully annotated gene, it looks like this:

[code]

By "fully" I mean it has annotations from:

- BLASTp
- DIAMOND BLAST
- InterProScanc
- Pfam

[2022-03-25 12:35] kubu4 commented on #1439
Here are the files:

- [Panopea-generosa-v1.0.a4.CDS.fasta](https://gannet.fish.washington.edu/Atumefaciens/Panopea-generosa-v1.0.a4.CDS.fasta) (64M)

  - MD5: `267bada15ec1d289213c7bbaf9cd8674`

- [Panopea-generosa-v1.0.a4.CDS.fasta.fai](https://gannet.fish.washington.edu/Atumefaciens/Panopea-generosa-v1.0.a4.CDS.fasta.fai) (22M)

  - MD5: `12d3c59c804b194d63f3bbab75fa617a`

- [Panopea-generosa-v

[2022-03-25 12:49] kubu4 commented on #1439
I don't know why I asked this. I'll just make the change; it's easy enough... BRB...

[2022-03-25 13:18] kubu4 commented on #1439
Alrighty, the CDS FastA has been updated to include gene ID. New CDS FastA description lines look like this:

`>PGEN_.00g000010.m01.CDS01|PGEN_.00g000010.m01|PGEN_.00g000010::Scaffold_01:2-125`

Same layout as before, but now includes gene ID after the second `|`.

[2022-03-25 13:18] #1439 closed

[2022-03-25 13:30] sr320 commented on #1439
Thanks! Links are 404ing for me though..

[2022-03-25 13:34] kubu4 commented on #1439
Gah! Sorry! Fixed!!!

[2022-03-28 14:53] kubu4 commented on #1423
The Nextflow RNAseq pipeline finished and as I was going through the MultiQC outputs, this jumped out to me as sort of interesting:

![image](https://user-images.githubusercontent.com/4514104/160424009-bd1531fc-0e69-4ab2-a44c-a2eb803787e4.png)

Here's the full report if you want to peruse:

https://gannet.fish.washington.edu/Atumefaciens/20220323-pgen-nextflow_rnaseq-tissues/multiqc/star_salmon/20

[2022-03-28 15:54] sr320 commented on #1423
Thanks - I was thinking more HISAT.. similar to what was done in oysters.

[2022-03-28 17:02] kubu4 commented on #1423
Here're the TPM values for all genes in all tissues:

https://gannet.fish.washington.edu/Atumefaciens/20220323-pgen-nextflow_rnaseq-tissues/star_salmon/salmon.merged.gene_tpm.tsv

[2022-03-30 19:33] mgavery commented on #1411
Thank you.  Could one of you please direct me to the associated genome (fasta) just to make sure I'm using the right one.

[2022-03-30 19:39] mgavery commented on #1411
https://gannet.fish.washington.edu/Atumefaciens/20191105_swoose_pgen_v074_renaming/Panopea-generosa-v1.0.fa

found it.

[2022-03-31 05:36] mgavery commented on #1411
Hi, sorry, I'm going to open this back up. I'm prepping the geoduck genome for CellRanger and it spotted something that I didn't.  The genome and gtf I used have different contig names.  I'll going to put the text from the log regarding the error below, but is there a genome .fa file that has the same contig IDs as the gtf?

['/opt/bioinformatics/bio/cellranger/cellranger-6.0.0/bin/rna/mkref', '--

[2022-03-31 15:12] kubu4 commented on #1296
All lab equipment will need to be cleaned/decontaminated and then accompanied by this completed form:

https://www.ehs.washington.edu/system/files/resources/lab_equip.pdf

Then, contact Jon Wittouck about transfer to SAFS surplus closet.

[2022-04-01 01:03] sr320 opened #1440 "Create repo for historical hemolymph samples"
Including summary of formulated research objectives.

[2022-04-01 05:21] mgavery commented on #1411
Thank you.  It's still grumpy with this new one, something about an "invalid strand"  I'll put the log below.  I don't immediately see the issue.

['/opt/bioinformatics/bio/cellranger/cellranger-6.0.0/bin/rna/mkref', '--genome=Geoduck_mkref_genome', '--fasta=Panopea-generosa-v1.0.fa', '--genes=Panopea-generosa-v1.0.a4.gtf']
Creating new reference folder at /home/mgavery/geoduck_genomic_resources/G

[2022-04-01 12:11] kubu4 commented on #1411
Here ya go: https://gannet.fish.washington.edu/Atumefaciens/20220323-pgen-nextflow_rnaseq-tissues/genome/Panopea-generosa-v1.0.a4_biotype-trna_strand_converted-no_RNAmmer.gtf

Just encountered this issue the other day. The GTF linked above has the following changes:

- Converted all `GenSAS_5d82b316cd298-trnascan` sources strand info from `.` to `+`.
- Removed all `RNAmmer-1.2` sources.
- Appends

[2022-04-01 12:17] kubu4 commented on #1411
I'm just going to add that this `strand` problem is annoying, since some sources indicate that strand info can be `-`, `+`, `.` or `?`. Despite that, it seems that some (most/all?) tools aren't written to handle a non `+/-` entry for strand info...

[2022-04-01 16:54] grace-ac opened #1441 "sea star RNAseq question from Genewiz"
## Azenta (previously Genewiz) sent me this email:

Attachments they sent me:

[Sample QC 30-666390649  1-3, 11-15, 18-23, 25-26, 31-32.pdf](https://github.com/RobertsLab/resources/files/8399548/Sample.QC.30-666390649.1-3.11-15.18-23.25-26.31-32.pdf)
[Sample QC 30-666390649   4-10, 16-17, 24, 27-30.pdf](https://github.com/RobertsLab/resources/files/8399549/Sample.QC.30-666390649.4-10.16-17.24.27-3

[2022-04-01 17:04] sr320 commented on #1441
Happy to provide advice, but probably most efficient means is to find a time both @kubu4 and I are available.
For example probably I would need more background on experiment -
do you have a spreadsheet of all available samples (with description) and their RNA status?

@mattgeorgephd can you share with us minimum sample parameters to go into tag-seq?

[2022-04-01 17:21] grace-ac commented on #1441
ok great! sounds good. i have a spreadsheet with info on the samples, and i'll add in the QC stuff from Azenta.

i have a dr appt at 11, but i'll be around after that til 3:40pm today.

just checked slack and see @kubu4 probably won't be at science hour, so i can message you two directly to find a time to talk about it!

[2022-04-01 17:41] mattgeorgephd commented on #1441
For tag-seq I submitted a total of ~2.6 ug RNA per sample @ a concentration of ~45 ng/ul, making sure each sample volume was at least 60 ul.

[UT-Austin](https://wikis.utexas.edu/display/GSAF/Sample+Input+Guidelines) recommends 2 ug @ > 40 ng/ul, RIN>7   (At least 50 ul's) for tag-seq. However, they do state that they will accept samples total RNA as 500 ng @ > 10 ng/ul.

Due to low extraction yie

[2022-04-01 17:45] afcoyle commented on #1440
Got it right here - https://github.com/afcoyle/historical_hemat

Will add a folder for research objectives (including slides, etc) and then close issue

[2022-04-01 18:36] kubu4 commented on #1441
I would do one of the following:

1. Send in additional RNA for those that are <100ng. Don't worry about RIN values for any samples. Proceed with PolyA.

OR

2. Possibly just drop the 5 samples <100ng. Don't worry about RIN values for any samples. Proceed with PolyA.

[2022-04-01 21:18] drlawson commented on #1308
hi @mattgeorgephd, I'm working on staging those samples. Instead of D and T like last time the samples have the letters N, M, R, and X. What do those signify? Which are diploid and which are triploid? I ask because I was using a slightly different staging method for triploids last time :) Thanks!

[2022-04-01 22:42] mgavery commented on #1411
Should I start a new thread to ask if you have blast annotations for these genes? :)

[2022-04-01 23:01] kubu4 commented on #1411
Probably, but I'll post here anyway.

All annotations are contained in the GFF/GTF. Kind of a pain to parse out, though.

Here are annotation files (all are on the mRNA features):

- [Panopea-generosa-vv0.74.a4.5d951a9b74287-blast_functional.tab](https://gannet.fish.washington.edu/Atumefaciens/20190928_Pgenerosa_v074.a4_gensas_annotation/Panopea-generosa-vv0.74.a4.5d951a9b74287-blast_functional.ta

[2022-04-01 23:05] kubu4 commented on #1411
Also, if you want, here's mapping file of all SwissProt IDs from the `Panopea-generosa-vv0.74.a4.5d951a9b74287-blast_functional.tab` file to Gene Ontology terms:

- [20191022_SP-ID-GO-mapping.tab](https://gannet.fish.washington.edu/Atumefaciens/20191022_pgen_Pgen_v074.a4_BLAST-GO-mapping/20191022_SP-ID-GO-mapping.tab)

[2022-04-02 07:45] mattgeorgephd commented on #1308
@drlawson sorry for the confusion, here is the key.

M, N = diploid
R, X = triploid

[2022-04-05 16:01] sr320 opened #1443 "Create improved version of geoduck gene annotations"
Add protein names, GO information

[2022-04-05 16:37] sr320 commented on #1443
Tab-delimited file - not a GFF.

One table with best predictive identification.

[2022-04-05 16:45] kubu4 commented on #1443
Would you like GO terms for sequences which _don't_ have a BLAST match? E.g. No BLAST result, but has Pfam and/or InterProScan info - which we can get GO terms for.

[2022-04-05 18:54] sr320 commented on #1443
no need

[2022-04-05 21:56] ocattau opened #1444 "Need Paperpile license"
For:

Olivia, Sarah, Zach, Chris

stanja@uw.edu

ocattau@uw.edu

zbengt@uw.edu

cnmntgna@uw.edu

[2022-04-06 15:44] grace-ac commented on #1441
thanks for input! we're proceeding with the samples we sent at best effort using PolyA

[2022-04-06 15:44] #1441 closed

[2022-04-07 18:13] sr320 opened #1446 "Switching Acid: Query on Alkalinity / Titrator code"
_via email_

We've adapted yours and Nyssa's code and gotten it all working on our similar setup, but the one thing we are still stuck on is what values to enter when we switch a bottle of acid.

This is the code we've adapted, and we see that you guys have changed 3 values related to the acid with new bottles, but based on the document we got for the acid, we can't figure out what the values we c

[2022-04-07 18:41] kubu4 commented on #1446
This line needs to be altered: https://github.com/shellytrigg/P_generosa/blob/8001e70509bc67e64bcfa96c64256a6f3fa2e596/Water_Chemistry/analysis/titrator/TotalAlkCalc_wParsing.R#L112

Use this equation provided with documentation:

![image](https://user-images.githubusercontent.com/4514104/162273882-ac3eba4f-e9ee-4ffc-b72f-5e80de3b1697.png)

So, that line noted above would look like this for Batch

[2022-04-07 20:20] sr320 commented on #1444
See Class Discussion board for key

[2022-04-07 20:20] #1444 closed

[2022-04-07 21:29] sr320 commented on #1410
It would be good to get these extracted in April.
@kubu4 can you tackle the brains, and
@mattgeorgephd can you take the other 3 tissues?

We can have Delaney provide support (tube labelling etc)

[2022-04-07 21:44] sr320 commented on #1410
https://github.com/RobertsLab/resources/issues/1307

[2022-04-08 15:57] #1446 closed

[2022-04-08 19:05] sr320 opened #1447 "ID lncRNA expression in ExpressCompare data"
https://github.com/hputnam/Express_Compare

[2022-04-08 22:59] sr320 opened #1448 "Get roslin_mito gene fasta on Genomic Resources page"

[2022-04-11 22:43] kubu4 commented on #1410
Brain samples are done. Here's summary table:

They're stored in [Sam's RNA Box #3](https://docs.google.com/spreadsheets/d/1j9jm3b91IkVfG0EsSjQpR--t2R97YXEQPaOFqsOqjhc/edit?usp=sharing).

| Sample | Concentration (ng/uL) | Elution Volume (uL) | Yield (ng) |
|--------|-----------------------|---------------------|------------|
| 6A     | 116                   | 15                  | 1740       |
|

[2022-04-11 22:50] mattgeorgephd commented on #1410
I'll work on these next week.

[2022-04-12 15:21] sr320 opened #1449 "Add info on methods / results on gene expression analysis ceabigr paper"
https://docs.google.com/document/d/1O63kXExAe-bBPXv6fTEZAof8Q2-ARI5Y3XyD5oxkiGE/edit

[2022-04-12 15:24] sr320 opened #1450 "create visualization of ceabigr CoV expression values"
Focusing on genes
https://github.com/sr320/ceabigr/wiki/Gene-Expression-Data-Types#coefficient-of-variation-cov-in-genes

see if there is a way to visualize all data such that we can see overarching patterns

[2022-04-12 18:10] drlawson opened #1451 "bio and picture for Sam and Shanelle"
We need pictures and bios of you guys on the lab website please! :)

[2022-04-12 18:15] drlawson commented on #1451
This is a reminder for me: I need to add my capstone link/proposal and graduation year to the website - please add any other random website updates that need to occur below :)

[2022-04-12 20:23] kubu4 commented on #1410
- RNAzol RT
- Direct-zol RNA Microprep Kit (ZymoResearch), with DNase step

[2022-04-12 21:49] afcoyle commented on #1451
Ooh might be good to update the website with a more current lab group photo (if we have one)!

[2022-04-14 15:27] sr320 commented on #1371
@yaaminiv where are coverage files?
https://github.com/RobertsLab/project-oyster-oa/blob/9bdeabebf8b29f36af2bfc1060a84fd80720ed08/code/Haws/04-DSS.Rmd#L42

[2022-04-14 21:22] sr320 opened #1453 "Compare CpG OE in Crassostrea and Ostrea"
and

[2022-04-14 22:02] sr320 opened #1454 "Characterize geoduck reads not mapping with CellRanger"

[2022-04-20 17:15] mattgeorgephd opened #1455 "Generate Circos Plot for gigas-WGBS-ploidy-desiccation project"
Here is a link to the [Github Repo](https://github.com/mattgeorgephd/gigas-WGBS-ploidy-desiccation) for the project.

Circos has been installed in RStudio on [Raven](http://172.25.149.12:8787/). It is located in:
` /home/shared/circos-0.69-9/bin/circos `

Previous GitHub issues about Circos: #710, #1422, #1430

Circos tutorial can be found [here](http://www.circos.ca/documentation/tutorials/). Her

[2022-04-20 18:46] mattgeorgephd commented on #1410
c

[2022-04-20 18:48] kubu4 commented on #1410
I think that's correct.

[2022-04-21 17:12] kubu4 commented on #1443
Believe it or not, this is complete! Let me know what you think.

https://gannet.fish.washington.edu/Atumefaciens/20220419-pgen-gene_annotation_mapping/20220419-pgen-gene-accessions-gene_id-gene_name-gene_description-alt_gene_description-go_ids.tab

Columns in file:

- `gene_ID`: Gene ID from our [_Panopea generosa_ (Pacific geoduck)](http://en.wikipedia.org/wiki/Geoduck) genome.

- `SPIDs`: Semic

[2022-04-21 17:13] kubu4 commented on #1443
Oh, and I've already added this file the Genomic Resources page in The Handbook.

[2022-04-22 17:41] yaaminiv commented on #1371
https://gannet.fish.washington.edu/spartina/project-oyster-oa/Haws/bismark-2/

[2022-04-22 18:20] drlawson commented on #1455
Hey matt! Can you add me as a collaborator on the repo where I can put my analyses?

[2022-04-22 18:35] mattgeorgephd commented on #1455
Invite sent!

[2022-04-22 20:11] kubu4 commented on #1451
@sr320 Is there a repo for adding info or should we send directly to you? Not sure how the website is handled.

[2022-04-22 20:13] drlawson commented on #1451
Shanelle messaged hers directly to me through slack. Why don't you do the same and if I need to put it somewhere else then I'll be able to do that. I have to go in and remind myself how exactly to edit that page because it's been a couple months, but it shouldn't be too difficult :)

[2022-04-22 20:15] sr320 commented on #1451
Robertslab/website

[2022-04-23 20:29] drlawson commented on #1451
Just uploaded Shanelle's image and bio, as well as my capstone links to the website. My changes haven't showed up yet on the website but they have been committed :) Shanelle said she is going to start making a lab notebook this weekend (I directed her to the lab notebook page in the handbook), and I will add that when she makes it

[2022-04-23 20:32] drlawson commented on #1451
@sr320 Is it normal that my changes to the website code on Github have not shown up on the website 10 minutes after committing? I just want to make sure I didn't miss a step. Thanks :)

[2022-04-23 20:41] sr320 commented on #1451
Will not automatically update/ I have to do that

[2022-04-26 16:54] zbengt commented on #1302
Just checking my understanding of where to start with the express compare data. The raw data has already been processed through HISAT and Kallisto. Is the idea for me to take data from the HISAT processing, filter for length >200, and then use Kallisto for classification and quantification?

[2022-04-26 18:32] kubu4 opened #1456 "Excel users - Would one of you convert this picture to an Excel table, please?"
Could someone with Excel please use the "Import image as data" to convert this picture to a spreadsheet for me?

I would _greatly_ appreciate it!

![pone 0054602 t002](https://user-images.githubusercontent.com/4514104/165367856-06efc04c-c189-4e40-b81f-bf3a5645da3a.png)

[2022-04-26 18:35] kubu4 commented on #1456
Never mind! Found online converter.

For reference, used this site: https://www.extracttable.com/

[2022-04-26 18:35] #1456 closed

[2022-04-28 03:02] AHuffmyer opened #1457 "Problem with stringtie2 not matching gene names from gff file (TagSeq)"
Hi! I am having a problem with generating a gene count matrix from some TagSeq data. It seems that I am having issues properly formatting the .gff3 file from the reference genome that I am using (Pocillopora acuta). Most of the genes in my count matrix are named as "STRG###", which indicates that stringtie2 did not find a gene "match" and is therefore calling that transcript as a splice variant. T

[2022-04-28 03:22] kubu4 commented on #1457
Can you post StringTie code and links to GFF and output file(s)?

[2022-04-28 03:27] kubu4 commented on #1457
Also, should you be using a GTF instead of GFF for this (can't remember offhand and can't look at my notebook, ATM)?

[2022-04-28 05:32] AHuffmyer commented on #1457
Code for stringtie is here (scroll down to stringtie section): https://github.com/AHuffmyer/Pacu_EarlyTemp_Moorea/blob/master/Pacu2021/Scripts/TagSeq/Pacuta_TagSeq_Script_Pierrick.md

My code for *attempting* to alter the gff file formatting. This is something our lab has had to do for these coral reference genomes: https://github.com/AHuffmyer/Pacu_EarlyTemp_Moorea/blob/master/Pacu2021/Scripts/Ta

[2022-04-28 13:54] sr320 commented on #1457
One possibility is poor annotation. I would bowtie to genome just to generically see where alignment is, and align to CDS fasta to provide more info.

[2022-04-28 15:06] AHuffmyer commented on #1457
Ah interesting, thanks for the advice! I have used this same pipeline with Montipora capitata TagSeq data before and didn't have this issue. So perhaps there is a species specific issue going on here. I'll give converting to GTF a try!

[2022-04-28 17:27] sr320 commented on #1302
For this the raw reads would first need to be assembled.

[2022-04-28 17:36] sr320 commented on #1302
pretend like all you have is raw data

[2022-04-28 19:36] laurahspencer commented on #1457
Looks like you've solved your problem, Ariana!

StringTie might work just fine for aligning, but for what it's worth it's not what I used. From what I see online StringTie excels when reads span splice junctions. Since TagSeq reads are short and always start at the 3' end, that's not an issue in that type of data, which is why I probably didn't mess around with it. I tested a few options, includin

[2022-04-28 19:45] AHuffmyer commented on #1457
This is great advice Laura thank you! Are your scripts on your Git?

[2022-04-29 18:21] laurahspencer commented on #1457
Here's my Jupyter Notebook, [2020-QuantSeq-Processing_Raw-to-Counts.ipynb](https://github.com/laurahspencer/O.lurida_QuantSeq-2020/blob/master/notebooks/2020-QuantSeq-Processing_Raw-to-Counts.ipynb) which starts from the raw data and ends with a count matrix (here's a [rendered version](https://nbviewer.org/github/laurahspencer/O.lurida_QuantSeq-2020/blob/master/notebooks/2020-QuantSeq-Processing_

[2022-04-29 20:36] ocattau opened #1458 "dplyr package maxes out at 30 observations"
So I am trying to filter my data by array and whenever I use dplyr to filter the data it won't build a new dataset larger than 30 observations. This is the script to my [data](https://github.com/mattgeorgephd/NOPP-gigas-ploidy-temp/blob/main/202107_EXP2/citrate_synthase/CS%20script%20samples%201-23.Rmd)
-when I get to line 35 and I try to build dataset "positive" it maxes out at 30 regardless of w

[2022-04-30 00:29] kubu4 commented on #1458
When I run this, it dies at line 15:

[code]

Error:

[code]

As the error message indicates, the `CS` object isn't present, so I expected it to fail at this point. Are you able to get past this line?

[2022-04-30 15:37] kubu4 commented on #1458
Alrighty, so I did some rearranging (and delineation into smaller chunks) and fixed that first error I was encountering. Changed code to:

[code]
[code]

Please double check it, of course!

[2022-04-30 17:15] ocattau commented on #1458
Cool thanks Sam! I knew it would be some easy fix :)

[2022-04-30 17:15] #1458 closed

[2022-05-02 19:23] grace-ac opened #1459 "sea star RNAseq data ready - where should it go?"
Sea star RNAseq data from azenta (FKA Genewiz) is ready on their server!

I've been given a link and log-in credentials to access

Feeling real rusty on this... but I'm assuming first step is to transfer data to a roberts lab bird?  which one?

[2022-05-02 19:27] sr320 commented on #1459
see https://robertslab.github.io/resources/Data-Management/#ngs-data-management-plan

[2022-05-02 19:29] #1459 closed

[2022-05-02 21:37] grace-ac opened #1460 "transferring RNAseq data from Azenta (FKA Genewiz) server to owl"
I have log in credentials to access sea star RNAseq data from Azenta (FKA Genewiz), and I want to move it to owl/nightingales/P_helianthoides

I have instructions from azenta [here](https://f.hubspotusercontent00.net/hubfs/3478602/Sell%20Sheet%20Collateral%20Library/NGS/NGS%20User%20Guides/NGS_sFTP-Data-Download-Guide_Option%201_Nov03_2020.pdf).

I was attempting method C. Command Line for transfe

[2022-05-02 21:42] kubu4 commented on #1460
If you want to download the data directly to Owl, then you'd need to follow these commands from within Owl. I.e. you need SSH into Owl, and then follow the Command Line instructions.

[2022-05-02 21:46] grace-ac commented on #1460
awesome! I tried that earlier, but wasn't granted access.

I tried to ssh into owl, (using my correct login, grace and put in my correct password), but permission was denied.

Is there something I'm missing?

<img width="554" alt="Screen Shot 2022-05-02 at 2 45 10 PM" src="https://user-images.githubusercontent.com/14934314/166332734-6589ad4f-4d58-43a7-a6e0-7cb54c022d3a.png">

[2022-05-02 22:21] kubu4 commented on #1460
I changed some permissions. Please see if you can login to Owl via SSH again.

[2022-05-02 22:23] grace-ac commented on #1460
same message as before - Permission denied. I checked my password and username again, and I'm putting in the correct username and password

[2022-05-02 23:12] kubu4 commented on #1460
Changed your user group. Please try again and report back. Thanks for your patience!

[2022-05-02 23:15] grace-ac commented on #1460
it worked!! thank you sam!!

[2022-05-03 16:14] grace-ac commented on #1460
even after ssh into owl,  the same error still comes up when I try to set `lcd` :
<img width="570" alt="Screen Shot 2022-05-03 at 9 13 25 AM" src="https://user-images.githubusercontent.com/14934314/166492971-1fcd0923-2b46-4d4c-beb3-5a3e7675f579.png">

[2022-05-03 18:31] kubu4 commented on #1460
I don't see the `lcd` command in the screenshot above.

Also, I see you ran this command (after you've FTP'd into Genewiz):

[code]

That throws an error because there isn't a folder on the Genewiz server names `<P_heliantoides>`.

[2022-05-03 18:33] kubu4 commented on #1460
Also, to add, in the screenshot above, it looks like you navigated to `nightingales/P_heliantoides` before you initiated the FTP session. With that being the case, there's no need to run the `lcd` command from your FTP session, since you're already in your desired location on Owl. The `lcd` command is only needed if you want to change directories on Owl _after_ you've started your FTP session.

[2022-05-04 18:23] grace-ac commented on #1460
issue resolved!!! For future reference:
I SSH into owl directory I want the files to be moved to (nightingales/P_helianthoides)

Then followed the `sftp` protocol provided by azenta

then did the `tmux` thing that Sam showed me so that the process can keep going even if i close my laptop.

to exit the tmux window, do contol+b then d. to get back in, do `tmux attach -t 0` where "0" is the session n

[2022-05-04 20:11] grace-ac commented on #1460
@kubu4 I accidentally scrolled down while in the tmux window... do I have to re-start it? Also the file that's at 36% has been at 36% for over an hour

<img width="580" alt="Screen Shot 2022-05-04 at 1 10 19 PM" src="https://user-images.githubusercontent.com/14934314/166817877-ecd0ed61-6284-45da-8f6b-6c15a45f5567.png">

[2022-05-04 20:24] kubu4 commented on #1460
Just press `Enter` key to get back to the prompt.

Don't know. Just have to wait it out and see what happens. FTP connections (in my experience) seem to be fairly unstable. It can be a frustrating experience.

Also, FTP will not be able to "continue" a download. So, if that transfer fails on that file, you _don't_ want to run `mget *` again! This will start downloading _every file_ again...

If th

[2022-05-04 20:46] grace-ac commented on #1460
got it! thanks! hopefully things keep moving

[2022-05-05 03:35] grace-ac commented on #1460
I'm thinking it may have become interrupted... the progress has not gone further in 7+ hours :(

how do I quit/end the session in tmux? (sidenote: I'm trying hard to stop scrolling when I'm in the tmux window!!)

So far only half of the files for the first library (out of 32 libraries) has been transferred.

<img width="573" alt="Screen Shot 2022-05-04 at 8 32 28 PM" src="https://user-images.githu

[2022-05-05 03:58] kubu4 commented on #1460
Type `exit`

[2022-05-05 17:22] grace-ac commented on #1460
gah it keeps getting interrupted. it's been stuck for the past hour or two.

thinking of doing this from a computer at FTR instead...

[2022-05-05 19:40] kubu4 commented on #1460
You actually ARE doing this on a computer from FTR - Owl.

However, it might be best to abandon FTP and try a different transfer method...

[2022-05-05 22:44] grace-ac commented on #1460
@sr320 @kubu4 to download the data, I need macOS 10.12 or higher.
Can I update Ostrich to 10.12?
Or would you rather I use genefish in ftr 230 which is already OS 10.12

[2022-05-05 22:45] sr320 commented on #1460
Use the one in FTR 230

[2022-05-10 17:50] sr320 opened #1461 "raven access"
please provide raven access to Shanelle

[2022-05-10 19:49] kubu4 commented on #1461
Done.

[2022-05-10 19:49] #1461 closed

[2022-05-10 22:19] eileenbates opened #1462 "pH calibration for alkalinity titration"
What mV values do folks use for the pass/fail cutoff for pH calibration when preparing for alkalinity titrations using a T5 titrator setup?

[2022-05-10 22:20] eileenbates opened #1463 "alkalinity titration--rinsing titration head?"
For anyone that uses the InMotion autosampler (bigger than the rondalino and with built in rinse) for alkalinity titrations, do you use the built in rinse feature between samples? It tends to leave a lot of water droplets on the titration head/stirrer, and we are wondering if it's better to use it or skip it and reduce the DI water added to the subsequent samples

[2022-05-10 22:21] eileenbates opened #1464 "alkalinity titrations--results output"
For anyone using the LabX titration software, in the output results, what is the difference between the TA value and the TA_evap value provided for each sample? Is one somehow accounting for evaporation during the titration process...?

[2022-05-23 23:11] grace-ac opened #1465 "MSStats: data process help"
- Repo: [paper-pacific.oyster-larvae](https://github.com/grace-ac/paper-pacific.oyster-larvae)
- Protein comparison script: [scripts/01-MSstats-Cgseed-DIA.R](https://github.com/grace-ac/paper-pacific.oyster-larvae/blob/master/scripts/01-MSstats-Cgseed-DIA.R)
- Script I'm working in for PEPTIDES: [scripts/MSStats-peptides-05232022.Rmd](https://github.com/grace-ac/paper-pacific.oyster-larvae/blob/ma

[2022-05-24 17:13] emmats commented on #1465
Can you replicate what you did before with your original file? Can you dig around in the documentation for MSstats to see what is used as row names for dataProcess? Sorry, I don't know the ins and outs of the code that well. https://www.bioconductor.org/packages/release/bioc/vignettes/MSstats/inst/doc/MSstats.html
https://www.bioconductor.org/packages/release/bioc/manuals/MSstats/man/MSstats.pdf

[2022-05-24 17:34] kubu4 commented on #1465
Is this link helpful?

https://skyline.ms/announcements/home/support/thread.view?rowId=27558

It's specifically related to protein analysis _and_ this error that you're getting.

[2022-05-24 19:29] yaaminiv commented on #1371
@sr320 is the DSS code reproducible/does it make sense? or should I revert back to `methylKit`?

[2022-05-24 19:48] sr320 commented on #1371
not to me.  - I suggest back to methyl kit

[2022-05-24 21:00] grace-ac commented on #1460
I have all the fastq and md5 files for all 32 libraries on genefish. Should I check the md5 now before moving files to owl? trying to find/remember how to do that

sidetone: the files will remain on azenta servers until may 28th and i head out to marrowstone tomorrow

[2022-05-24 21:19] kubu4 commented on #1460
Yep! Check MD5s after all transfers (unless transfer is via rsync). Do you know how to do this automatically?

[2022-05-24 21:24] grace-ac commented on #1460
Ok cool! I do not know how, though I'm sure I've done it at some point!
I looked through the code snippets and such on the robertslab.github.io, but didn't see anything there.

[2022-05-24 21:31] kubu4 commented on #1460
Are the files on a Mac or Linux computer?

[2022-05-24 21:33] grace-ac commented on #1460
they're on mac - genefish.

[2022-05-24 21:44] kubu4 commented on #1460
I was afraid you were going to say that... One sec...

[2022-05-24 21:50] kubu4 commented on #1460
Can you please check to see if genefish (I don't know how to get into genefish - lab computer sheet has genefish greyed out, so not sure if the info on there is accurate any more - otherwise I'd check) has `md5sum` installed?

Run this command: `which md5sum`

If it returns nothing, then it is _not_ installed.

[2022-05-24 21:56] grace-ac commented on #1460
it returned nothing

[2022-05-24 22:07] kubu4 commented on #1460
I guess I should just post both options, regardless.

Option 1 (requires `md5sum` to be installed on computer):

[code]

---

Option 2 (use if `md5` program is only option):

[code]

---

So, Option 2 is what is needed to handle the difference between MD5 checksum programs on Linux and Mac. The two operating systems format the output differently, making it difficult to do an easy check. So, we hav

[2022-05-24 22:19] grace-ac commented on #1460
dang! ok, so I should try to do Option 2, and I do it for each .md5 file?

[2022-05-24 22:21] kubu4 commented on #1460
Run code provided in Option 2.

[2022-05-24 22:26] grace-ac commented on #1460
Ran code: Each file had this:

[code]

[2022-05-24 22:36] kubu4 commented on #1460
Replace `--suffix` with `-s` and give it another rip.

Ugh, Macs! 😉

[2022-05-24 22:41] sr320 commented on #1460
You could just go ahead and move to final destination (linux) then md5 :)

[2022-05-24 22:48] grace-ac commented on #1460
can't quite tell if it's still working on it.  hasn't changed in ~10 minutes.
![Screen Shot 2022-05-24 at 3 45 33 PM](https://user-images.githubusercontent.com/14934314/170144365-347f68cf-d702-49f0-ab6f-5ea5952a5954.png)

[2022-05-24 22:53] kubu4 commented on #1460
It'll take awhile.

No new prompt (or error messages) means it's still running.

[2022-05-24 23:10] grace-ac commented on #1460
it's finished and it just went right back to the $ prompt! so I'm guessing that means it worked?

[2022-05-24 23:14] kubu4 commented on #1460
Yep! No errors, means all good!

[2022-05-24 23:15] grace-ac commented on #1460
woohoo! thanks sam!!

[2022-05-24 23:20] kubu4 commented on #1460
My pleasure!

[2022-05-24 23:32] grace-ac commented on #1460
I've only ever done `rsync` to/from Mox. Do I need to ssh into owl first?

Just tried to do from gene fish to nightingales on owl:
00-fastq is the directory that contains all the .fastq.gz and .md5 files.

[code]

Here's what was returned:
[code]

[2022-05-24 23:36] sr320 commented on #1460
@grace-ac When you get a chance can you put all of these protocols in handbook?

[2022-05-24 23:36] grace-ac commented on #1460
@sr320 absolutely!

[2022-05-24 23:52] kubu4 commented on #1460
BTW, some of this might already exist in code repo (can't check ATM)... This starts to get back into how much we put in Handbook versus leave in code repo... But, I digress.

[2022-05-25 00:02] sr320 commented on #1460
Handbook should be go to source for everything

[2022-05-25 00:23] kubu4 commented on #1460
Your code would have to be something like this:

[code]

Replace `<owl_username_>` with whatever username you use to login to owl (even replace the `<` and the `>`).

[2022-05-25 00:24] kubu4 commented on #1460
Agreed, but there're a _lot_ of random code snippets in that code repot...

[2022-05-25 00:28] grace-ac commented on #1460
thank you @kubu4 ! It's working.

[2022-05-27 17:17] sr320 commented on #1302
Data is available at NCBI. download from there and ID lncRNA.  see https://github.com/hputnam/Express_Compare

[2022-05-27 18:48] zbengt commented on #1302
Think I locked myself out of Gannet by accident. Got this "kex_exchange_identification: read: Connection reset by peer
Connection reset by 128.95.149.52 port 22" after 3 password mistakes (forgot that second scallop)

[2022-05-27 18:58] sr320 commented on #1302
Maybe work on Raven (Rstudio) in mean time

[2022-05-27 19:08] kubu4 commented on #1302
@zbengt DM me your IP address via Slack and I'll unblock you from Gannet.

[2022-05-31 18:08] zbengt opened #1466 "SRA Toolkit Error on Raven"
Got this error message while trying to use fasterq-dump from SRA toolkit to download NCBI data.

![Screen Shot 2022-05-27 at 1 35 50 PM](https://user-images.githubusercontent.com/91245841/171255175-eb1cc075-a906-4edc-9375-542d1e771e6d.png)

[2022-05-31 18:13] sr320 commented on #1466
I tried to help but remember I never figured it out the first time :) and @kubu4 did it for me.

[2022-05-31 18:43] kubu4 commented on #1466
When I check things out, it's already been configured...

Can you test this running in a terminal instead of an RStudio chunk? I wonder if running this in the RStudio environment does something weird...

[2022-05-31 19:36] kubu4 commented on #1466
Hmmm, not sure what's going on. Just tested in RStudio and things worked without issue. Going to try one more thing and then report back.

[2022-05-31 19:42] kubu4 commented on #1466
Okay, figured it out.
Apparently, each user has to set up their own configuration file.

Run the command shown in that error message (`/home/shared/sratoolkit.2.11.2-ubuntu64/bin/vdb-config -i`) and then follow the instructions here:

https://github.com/ncbi/sra-tools/wiki/03.-Quick-Toolkit-Configuration

After you've gone through the instructions, just post any other questions you might have here

[2022-05-31 20:18] zbengt commented on #1466
Thanks Sam! I'll try this after lab.

[2022-05-31 20:49] kubu4 commented on #1451
added bio and pic

[2022-05-31 20:49] #1451 closed

[2022-06-01 07:02] mattgeorgephd commented on #1410
@sr320

Received word from the UT Austin sequencing facility regarding the salmon samples. They ran a random selection of samples through their bioanalyzer for a quick QC and forwarded me the [results](https://www.dropbox.com/s/kabh8zfsyz442om/QB22201_Eukaryote_Total_RNA_Nano_DE34903795_2022-05-25_13-16-53.pdf?dl=0).

Looking at the RIN and curves:
1. 3/5 brain didn't pass QC.
2. 1/4 liver didn't

[2022-06-01 17:19] sr320 commented on #1410
@mattgeorgephd @kubu4 did y'all run bioanalyzer?

@mattgeorgephd what did your QC look like for your tag-see?

[2022-06-01 17:43] kubu4 commented on #1410
No

[2022-06-01 17:49] kubu4 commented on #1410
@mattgeorgephd - Out of curiosity, how do you know which samples are which on those electropherograms?

And, what are their criteria to identify samples that "fail" QC?

[2022-06-02 09:05] mattgeorgephd commented on #1410
@sr320 I ran the bioanalyzer on 3-5 samples from each extraction date for the liver and gonad samples to look for consistency. All had two peaks with an RIN above 7.

@kubu4 The GSAF recommends RINs above ~6 for Tag-seq. They said they can compensate for/clean up alcohol contamination (extended tails on the second peak). The well positions are listed above the graphs. Here is a key:

Brain: A1, E1

[2022-06-02 13:44] sr320 commented on #1410
Is it possible samples degraded in transit?

[2022-06-02 13:53] kubu4 commented on #1410
@mattgeorgephd - It looks like there are two sets of graphs that are both labelled `A1`, with drastically different scores. I'm I lookin at those correctly?

This gets back to the issue of the impact of whether or not RNA degradation (and, what degree of degradation) has any actual impact on sequencing data. Even if RNA is degraded, if (for example), one was only going to sequence 50bp, then I fee

[2022-06-02 15:20] sr320 commented on #1466
@zbengt This get figured out?

[2022-06-02 15:51] mattgeorgephd commented on #1410
@sr320 There are samples with an RIN of around 10, so degradation due to shipping seems unlikely. The box I sent was oversized for the application just in case it got caught up, which it didn't.

@kubu4 Good catch, it looks like they ran A1 twice. One graph looks flat, so maybe they didn't load enough in one well of the bioanalyzer chip?

re: quality required for Tag-seq - there isn't much in the

[2022-06-02 20:59] zbengt commented on #1466
@sr320 Yep, thanks @kubu4!

[2022-06-03 17:00] sr320 opened #1468 "Clean up MAR aquatic space"

[2022-06-07 08:28] mattgeorgephd opened #1469 "Install gffcompare on Raven"
Available at:
https://ccb.jhu.edu/software/stringtie/gffcompare.shtml

Thanks!

[2022-06-08 13:32] kubu4 commented on #1469
Alrighty, you can find it here:

`/home/shared/gffcompare-0.12.6.Linux_x86_64/gffcompare`

[2022-06-08 13:32] #1469 closed

[2022-06-09 16:54] sr320 opened #1470 "Upload raw methylation data to SRA (Oly)"
From this paper
https://www.biorxiv.org/content/10.1101/2022.03.23.485415v1

[2022-06-09 17:07] sr320 commented on #1470
Did you try the repo listed in the paper :) ?

https://github.com/sr320/paper-oly-mbdbs-gen.

[2022-06-10 18:49] mattgeorgephd opened #1471 "LOC IDs to gene names for c gigas"
I'm analyzing _c gigas_ tag-seq data and have lists of differentially expressed genes (DEGs) with LOC gene IDs like this:

gene-LOC105330921\|LOC105330921

I'm looking for a conversion table for the Roslin genome so I can get gene descriptions like this:

histone-lysine N-methyltransferase 2C-like

DESeq call this an "annotation object" and it looks like a any text file should work.

[2022-06-10 19:16] kubu4 commented on #1471
You should be able to use this file from NCBI to generate the mapping file you need:

https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/902/806/645/GCF_902806645.1_cgigas_uk_roslin_v1/GCF_902806645.1_cgigas_uk_roslin_v1_feature_table.txt.gz

Here's what that file looks like (note: not all columns line up with appropriate data below them due to space/tab separators):

[code]

Anyway, you can get the map

[2022-06-11 16:58] sr320 commented on #1471
Here is the file I have from SC work
[LOCID_38222_Roslin_Gigas_mito.txt](https://github.com/RobertsLab/resources/files/8884392/LOCID_38222_Roslin_Gigas_mito.txt)

[2022-06-12 08:14] mattgeorgephd commented on #1471
Thanks! This these work great.

[2022-06-12 08:14] #1471 closed

[2022-06-13 15:11] sr320 commented on #1470
@kubu4 What specific info are you in need of? the samples here https://github.com/sr320/paper-oly-mbdbs-gen/blob/master/data/sample-key.csv are what needs to be uploaded to SRA. Katherine will take care of 2bRAD data.

[2022-06-13 15:32] kubu4 commented on #1470
For example, the key list a sample called `ss2_9`. Is that this sample (taken from nightingales): `SS2-9_CTTGTA-CGCTATG_L001`?

Nightingales indicates that it is part of 2bRAD sequencing and does not indicate bisuflite sequencing.

[2022-06-13 15:36] sr320 commented on #1470
File names are at https://github.com/RobertsLab/project-olympia.oyster-genomic/wiki/MBD-BSseq-December-2015

[2022-06-13 15:38] sr320 commented on #1470
Here are the trimmed files actually used for analysis. https://gannet.fish.washington.edu/seashell/bu-mox/data/olurida-bs/decomp/   (ignoring the "all" for SRA submission). I would be fined with uploading these trimmed files if that is allowed in SRA.

[2022-06-13 15:41] kubu4 commented on #1470
Ah! Thanks!!

[2022-06-14 19:12] grace-ac opened #1473 "Rstudio frozen only in one Rproject"
Rstudio freezing when I try to work in https://github.com/grace-ac/paper-pacific.oyster-larvae/blob/master/paper-pacific.oyster-larvae.Rproj

As soon as I open the Rproject, I can't do anything. I can't even use the drop down menus at the top.

I've uninstalled and reinstalled R studio, I've updated R.

All my other Rprojects work fine.

Any thoughts? I found a comment thread that suggests potenti

[2022-06-14 19:13] sr320 commented on #1473
Have you tried on raven?

[2022-06-14 19:13] grace-ac commented on #1473
nope! will do now

[2022-06-14 19:18] sr320 commented on #1473
I did a clean pull from Github and there were no issues ... https://d.pr/i/dHVExI

[2022-06-14 19:27] grace-ac commented on #1473
awesome! i just did that too and it's all fixed. not sure what happened to make it freeze like that initially. thanks!

[2022-06-14 19:27] #1473 closed

[2022-06-14 19:54] sr320 opened #1474 "Lit search / review on coral papers that examine DNA Methylation"
Compile a list of all papers that examine DNA methylation in corals

[2022-06-14 20:38] sr320 opened #1475 "Establish benefits, pain points, feature requests for Aquamine"
see https://aquamine.rnet.missouri.edu/aquamine/begin.do

[2022-06-14 21:00] grace-ac opened #1476 "RNAseq workflow"
Starting sea star RNAseq!

I see in [handbook](https://robertslab.github.io/resources/bio-Gene-expression/) that there's kallisto and DESeq2.

I would love to help make the handbook workflow more complete. I haven't done any of these in a couple years now because it's somehow been 2 years since I graduated...

what is first step when working with raw RNAseq data?
[/nightingales/P_helianthoides/](h

[2022-06-14 21:43] grace-ac commented on #1460
how do I append the md5 checksums to the checksum file? they are all currently on gene fish , but they need to be added to nightingales. there's already a checksum file in the [ /nightingales/P_helianthoides/](http://owl.fish.washington.edu/nightingales/P_helianthoides/) folder on owl.

[2022-06-14 22:29] sr320 opened #1477 "Add HiSat workflow to handbook"
https://github.com/RobertsLab/resources/blob/master/docs/bio-Gene-expression.md

[2022-06-15 02:03] kubu4 commented on #1477
What are you looking for with this? Looking at that page, it seems like we're just sharing examples of times when each of those programs were used. Is that all?

[2022-06-15 02:07] kubu4 commented on #1476
1. FastQC
2. MultiQC
3. Trim (I prefer `fastp` program. It's fast (and mult-threaded). It basically runs an alternate version of FastQC. Plus, there's an add-on for MultiQC, which is cool).
4. FastQC
5. MultiQC

Although I numbered them 1 -5, that's essentially the first fundamental step: quality check and trimming.

[2022-06-15 02:11] kubu4 commented on #1460
If you transferred the files via `rsync` then you can be confident that the transfers were successful, without file corruption. So, the easiest thing to do is to `ssh` into owl and navigate to `/nightingales/P_helianthoides/`.

Then, do the following:

[code]

It will take awhile, but you should start seeing the message pop up on the screen as it completes each file.

[2022-06-15 02:21] sr320 commented on #1477
I would like it built out so it is somewhat of a complete guide, pointing to code elsewhere is fine.

[2022-06-15 02:42] sr320 commented on #1477
Along same line - https://github.com/RobertsLab/resources/issues/1476#issuecomment-1155895750 should be integrated into said page in handbook.

[2022-06-15 13:13] sr320 opened #1478 "Add link to fastq data on ceabigr wiki"
Add links to raw and trimmed RNA-seq data @
https://github.com/sr320/ceabigr/wiki/Publication-DataSets

[2022-06-15 16:52] kubu4 commented on #1478
Done.